In [1]:
import os
import re
import pandas as pd
import datetime as dt

In [ ]:
data = []

with open("DATOS_EMPLEADOS_2019.txt", 'r') as f:
    for line in f.readlines():
        if len(line) == 114:
            line = re.sub("\s+", "|", line.strip())
            line = re.sub("ENE", "01", line.strip())
            line = re.sub("FEB", "02", line.strip())
            line = re.sub("MAR", "03", line.strip())
            line = re.sub("ABR", "04", line.strip())
            line = re.sub("MAY", "05", line.strip())
            line = re.sub("JUN", "06", line.strip())
            line = re.sub("JUL", "07", line.strip())
            line = re.sub("AGO", "08", line.strip())
            line = re.sub("SEP", "09", line.strip())
            line = re.sub("OCT", "10", line.strip())
            line = re.sub("NOV", "11", line.strip())
            line = re.sub("DIC", "12", line.strip())
            line = f"{line}|12/11/2019"
            if not line:
                continue
            line_list = [s for s in line.split(';') if s]
            if not line_list:
                continue
            data.append(line_list)

In [3]:
data = []

with open("DATOS_EMPLEADOS_2018.txt", 'r') as f:
    for line in f.readlines():
        if len(line) == 114:
            line = re.sub("\s+", "|", line.strip())
            line = re.sub("ENE", "01", line.strip())
            line = re.sub("FEB", "02", line.strip())
            line = re.sub("MAR", "03", line.strip())
            line = re.sub("ABR", "04", line.strip())
            line = re.sub("MAY", "05", line.strip())
            line = re.sub("JUN", "06", line.strip())
            line = re.sub("JUL", "07", line.strip())
            line = re.sub("AGO", "08", line.strip())
            line = re.sub("SEP", "09", line.strip())
            line = re.sub("OCT", "10", line.strip())
            line = re.sub("NOV", "11", line.strip())
            line = re.sub("DIC", "12", line.strip())
            line = f"{line}|31/12/2018"
            if not line:
                continue
            line_list = [s for s in line.split(';') if s]
            if not line_list:
                continue
            data.append(line_list)

In [4]:
data[0]

['5761|21/12/1973|MASCULINO|CASADO|52|15/06/2018|22/10/2018|1|0001|09730|31/12/2018']

In [5]:
len(data)

502

In [6]:
df = pd.DataFrame(data)

In [7]:
df2 = df[0].str.split('|', expand=True)

In [8]:
df3 = df2[df2[6] == "0/"]

In [9]:
df4 = df2[df2[6] != "0/"]

In [10]:
del df3[6]

In [11]:
del df4[11]

In [12]:
list_of_columns = ["codigo","fec_nac","sexo","edo_civ","depto","fec_ing","fec_baj","jorn","puesto","cp","today"]

In [13]:
df3.columns = list_of_columns
df4.columns = list_of_columns

In [14]:
df5 = df4.append(df3)

In [15]:
def label_status(row):
    inactive = 1
    active = 0
    if row == "0/0000":
        return inactive
    else:
        return active

In [16]:
df5["label"] = df5["fec_baj"].apply(lambda row: label_status(row))

In [17]:
df5["fec_nac"] = pd.to_datetime(df5["fec_nac"], format="%d/%m/%Y", errors="coerce")
df5["fec_ing"] = pd.to_datetime(df5["fec_ing"], format="%d/%m/%Y", errors="coerce")
df5["fec_baj"] = pd.to_datetime(df5["fec_baj"], format="%d/%m/%Y", errors="coerce")
df5["today"] = pd.to_datetime(df5["today"], format="%d/%m/%Y", errors="coerce")

In [18]:
df5_activos = df5.loc[df5["fec_baj"].isnull()]

In [19]:
df5_cesados = df5.loc[df5["fec_baj"].notnull()]

In [20]:
df5_activos["antig"] = df5_activos["today"] - df5_activos["fec_ing"]

C:\Users\dell\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
df5_cesados["antig"] = df5_cesados["fec_baj"] - df5_cesados["fec_ing"]

C:\Users\dell\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
df6 = df5_activos.append(df5_cesados)

In [23]:
del df6["today"]

In [24]:
df6["antig"] = df6["antig"].dt.days

In [25]:
df6.head()

,codigo,fec_nac,sexo,edo_civ,depto,fec_ing,fec_baj,jorn,puesto,cp,label,antig
1,7840,1985-12-30,FEMENINO,SOLTERO,87,2018-12-27,NaT,1,0185,50290,1,4
2,7505,1989-09-30,MASCULINO,SOLTERO,82,2017-09-19,NaT,1,0003A,54948,1,468
6,6600,1973-02-08,FEMENINO,SOLTERO,80,2015-10-01,NaT,1,0001,07460,1,1187
8,7685,1995-11-23,FEMENINO,SOLTERO,76,2018-06-08,NaT,1,0001,56617,1,206
9,7331,1977-04-02,FEMENINO,CASADO,45,2018-09-04,NaT,1,0001,08100,1,118

In [26]:
df6.dtypes

codigo             object
fec_nac    datetime64[ns]
sexo               object
edo_civ            object
depto              object
fec_ing    datetime64[ns]
fec_baj    datetime64[ns]
jorn               object
puesto             object
cp                 object
label               int64
antig               int64
dtype: object

In [27]:
df6.to_csv("DATOS_CLEAN.csv")

In [28]:
df6.count()

codigo     502
fec_nac    502
sexo       502
edo_civ    502
depto      502
fec_ing    502
fec_baj    310
jorn       502
puesto     502
cp         502
label      502
antig      502
dtype: int64