In [1]:
import os
import re
import pandas as pd

In [2]:
data = []

with open("DATOS_EMPLEADOS.txt", 'r') as f:
    for line in f.readlines():
        if len(line) == 114:
            line = re.sub("\s+", "|", line.strip())
            line = re.sub("ENE", "01", line.strip())
            line = re.sub("FEB", "02", line.strip())
            line = re.sub("MAR", "03", line.strip())
            line = re.sub("ABR", "04", line.strip())
            line = re.sub("MAY", "05", line.strip())
            line = re.sub("JUN", "06", line.strip())
            line = re.sub("JUL", "07", line.strip())
            line = re.sub("AGO", "08", line.strip())
            line = re.sub("SEP", "09", line.strip())
            line = re.sub("OCT", "10", line.strip())
            line = re.sub("NOV", "11", line.strip())
            line = re.sub("DIC", "12", line.strip())
            if not line:
                continue
            line_list = [s for s in line.split(';') if s]
            if not line_list:
                continue
            data.append(line_list)

In [3]:
data[0]

['8071|26/01/1995|FEMENINO|SOLTERO|25|31/07/2019|0/|0/0000|1|0001|56386']

In [4]:
len(data)

523

In [5]:
df = pd.DataFrame(data)

In [6]:
df2 = df[0].str.split('|', expand=True)

In [7]:
df3 = df2[df2[6] == "0/"]

In [8]:
df4 = df2[df2[6] != "0/"]

In [9]:
del df3[6]

In [10]:
del df4[10]

In [11]:
list_of_columns = ["codigo","fec_nac","sexo","edo_civ","depto","fec_ing","fec_baj","jorn","puesto","cp"]

In [12]:
df3.columns = list_of_columns
df4.columns = list_of_columns

In [13]:
df5 = df4.append(df3)

In [14]:
def label_status(row):
    inactive = 1
    active = 0
    if row == "0/0000":
        return inactive
    else:
        return active

In [15]:
df5["label"] = df5["fec_baj"].apply(lambda row: label_status(row))

In [16]:
df5["fec_nac"] = pd.to_datetime(df5["fec_nac"], format="%d/%m/%Y", errors="coerce")
df5["fec_ing"] = pd.to_datetime(df5["fec_ing"], format="%d/%m/%Y", errors="coerce")
df5["fec_baj"] = pd.to_datetime(df5["fec_baj"], format="%d/%m/%Y", errors="coerce")

In [17]:
df5.head()

,codigo,fec_nac,sexo,edo_civ,depto,fec_ing,fec_baj,jorn,puesto,cp,label
1,7840,1985-12-30,FEMENINO,SOLTERO,87,2018-12-27,2019-02-04,1,0185,50290,0
2,7879,1993-12-28,MASCULINO,SOLTERO,72,2019-02-11,2019-07-22,1,0001,09630,0
3,7505,1989-09-30,MASCULINO,SOLTERO,82,2017-09-19,2019-02-21,1,0003A,54948,0
6,7331,1977-04-02,FEMENINO,CASADO,45,2018-09-04,2019-08-08,1,0001,08100,0
9,7774,1995-12-07,FEMENINO,CASADO,87,2018-09-27,2019-01-14,1,0001,50200,0

In [18]:
df5.loc[df5["codigo"] == "8071"]

,codigo,fec_nac,sexo,edo_civ,depto,fec_ing,fec_baj,jorn,puesto,cp,label
0,8071,1995-01-26,FEMENINO,SOLTERO,25,2019-07-31,NaT,1,0001,56386,1

In [19]:
df5.dtypes

codigo             object
fec_nac    datetime64[ns]
sexo               object
edo_civ            object
depto              object
fec_ing    datetime64[ns]
fec_baj    datetime64[ns]
jorn               object
puesto             object
cp                 object
label               int64
dtype: object

In [20]:
df5.to_csv("DATOS_CLEAN.csv")

In [21]:
df5.count()

codigo     523
fec_nac    523
sexo       523
edo_civ    523
depto      523
fec_ing    523
fec_baj    327
jorn       523
puesto     523
cp         523
label      523
dtype: int64