In [1]:
import os
import re
import pandas as pd

In [2]:
data = []

for file in os.listdir("DEDUCCIONES_2019"):
    if file.endswith(".txt"): 
        with open(os.path.join("DEDUCCIONES_2019", file)) as f:
            year = file[19:23]
            week = file[16:18]
            for line in f.readlines():
                if len(line) == 241:
                    line = re.sub("\s+", "|", line.strip())
                    line = re.sub(",", "", line.strip()) #esto quita las comas de las cifras
                    line = f"{year}|{week}|{line}"
                    if not line:
                        continue
                    line_list = [s for s in line.split(';') if s]
                    if not line_list:
                        continue
                    data.append(line_list)
    else:
        continue

In [3]:
for file in os.listdir("DEDUCCIONES_2018"):
    if file.endswith(".txt"): 
        with open(os.path.join("DEDUCCIONES_2018", file)) as f:
            year = file[19:23]
            week = file[16:18]
            for line in f.readlines():
                if len(line) == 241:
                    line = re.sub("\s+", "|", line.strip())
                    line = re.sub(",", "", line.strip()) #esto quita las comas de las cifras
                    line = f"{year}|{week}|{line}"
                    if not line:
                        continue
                    line_list = [s for s in line.split(';') if s]
                    if not line_list:
                        continue
                    data.append(line_list)
    else:
        continue

In [4]:
data[-1]

['2018|52|***|GLO|181.00|0.00|960.00|754.03|0.00|6775.90|2153.77|0.00|0.00|6400.96|168.33|5770.69|4840.27|218040.47|264534.48|23164.68|241369.80']

In [5]:
len(data)

18911

In [6]:
df = pd.DataFrame(data)

In [7]:
df = df.drop(0)

In [8]:
df2 = df[0].str.split('|', expand=True)

In [9]:
df3 = df2[df2[2] != "Codigo"] #en este paso elimino las filas de encabezados, que miden lo mismo que las de datos

In [10]:
df4 = df3.iloc[:,0:16] #columnas del 15 al 20 son de totales

In [11]:
len(df4[0])

18436

In [12]:
df4 = df4[df4[3] != "GLO"] #este paso quita las filas de totales

In [13]:
len(df4[0]) #esto coincide con percepciones ya quitando totales

18341

In [14]:
df4.count()

0     18341
1     18341
2     18341
3     18341
4     18341
5     18341
6     18341
7     18341
8     18341
9     18341
10    18341
11    18341
12    18341
13    18341
14    18341
15    18341
dtype: int64

In [15]:
for col in  df4.columns:
    df4[col] = pd.to_numeric(df4[col], errors='coerce')

In [16]:
list_of_columns = ["año","sem","codigo","vales","zapatos","otras","fonac","alim","infon","falt","enf","ries",
                  "ISPT","ISPTA","IMSS","subs"]

In [17]:
df4.columns = list_of_columns

In [18]:
df4.head()

,año,sem,codigo,vales,zapatos,otras,fonac,alim,infon,falt,enf,ries,ISPT,ISPTA,IMSS,subs
1,2019,1,7840,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,289.63,0.0,49.55,0.00
2,2019,1,7505,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.93,0.0,24.12,0.00
3,2019,1,6600,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.07,33.13
4,2019,1,7685,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,27.04,38.26
5,2019,1,7331,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23.71,34.96

In [19]:
df4.count()

año        18341
sem        18341
codigo     18341
vales      18341
zapatos    18341
otras      18341
fonac      18341
alim       18341
infon      18341
falt       18341
enf        18341
ries       18341
ISPT       18341
ISPTA      18341
IMSS       18341
subs       18341
dtype: int64

In [20]:
df4.dtypes

año          int64
sem          int64
codigo       int64
vales      float64
zapatos    float64
otras      float64
fonac      float64
alim       float64
infon      float64
falt       float64
enf        float64
ries       float64
ISPT       float64
ISPTA      float64
IMSS       float64
subs       float64
dtype: object

In [21]:
df4.to_csv("DEDUCCIONES_CLEAN.csv")