In [1]:
import os
import pandas as pd

In [2]:
df5 = pd.read_csv("CONSOLIDADO_DESDE_2018.csv", index_col=0)

In [3]:
df5 = df5.set_index("codigo_x")

In [4]:
df5.head()

,año_x,sem_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,...,alim,infon,falt,enf,ries,ISPT,ISPTA,IMSS,subs,label
codigo_x,,,,,,,,,,,,,,,,,,,,,
7840,2019,1,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,367.56,...,0.0,0.0,0.0,0.0,0.0,289.63,0.0,49.55,0.00,1
7505,2019,1,7.0,5.0,721.00,173.04,60.0,60.0,143.04,0.00,...,0.0,0.0,0.0,0.0,0.0,60.93,0.0,24.12,0.00,1
6600,2019,1,7.0,5.0,721.00,30.38,60.0,50.0,120.22,180.25,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.07,33.13,1
7685,2019,1,7.0,5.0,721.00,30.38,60.0,60.0,120.22,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,27.04,38.26,1
7331,2019,1,7.0,5.0,721.00,30.38,60.0,60.0,120.22,103.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23.71,34.96,1

In [5]:
df5 = df5[["dias_pag","dias_lab","sueldo","comp","asist","transp","vales_x","te_dob",
          "te_trip","desc_Lab","fest_lab","dominic","perc_grav","obj","aguin","vac","prim_vac",
          "grat_esp","util","zapatos","otras","fonac","alim","infon","falt","enf","ries","label"]]

In [6]:
df5.head()

,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,te_trip,desc_Lab,...,util,zapatos,otras,fonac,alim,infon,falt,enf,ries,label
codigo_x,,,,,,,,,,,,,,,,,,,,,
7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,367.56,673.86,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,180.25,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,103.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [7]:
X = df5.drop("label", axis=1)
y = df5["label"]
print(X.shape, y.shape)

(18365, 27) (18365,)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [9]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [10]:
classifier.fit(X_train, y_train)

C:\Users\dell\Anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [11]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7879909968779496
Testing Data Score: 0.7835365853658537

In [12]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [1 0 1 1 1 1 1 1 1 1]
First 10 Actual labels: [0, 0, 1, 0, 1, 1, 0, 1, 1, 1]

In [13]:
model1 = pd.DataFrame({"Prediction": predictions, "Actual": y_test})

In [14]:
model1.head()

          Prediction  Actual
codigo_x
5506               1       0
5902               0       0
7618               1       1
7595               1       0
4775               1       1

In [15]:
model1["res"] = model1["Actual"] - model1["Prediction"]

In [16]:
model1.head()

          Prediction  Actual  res
codigo_x
5506               1       0   -1
5902               0       0    0
7618               1       1    0
7595               1       0   -1
4775               1       1    0

In [17]:
diff1 = model1.loc[model1["res"] == -1]

In [18]:
diff2 = model1.loc[model1["res"] == 1]

In [19]:
diff1.reset_index(inplace=True)
diff2.reset_index(inplace=True)

In [20]:
se_nos_van = diff1.groupby("codigo_x").count()

In [21]:
no_debieron_irse = diff2.groupby("codigo_x").count()

In [22]:
se_nos_van.count() #aquí predice que esta dado de baja cuando en realidad esta activo

Prediction    275
Actual        275
res           275
dtype: int64

In [23]:
no_debieron_irse.count() #aqui predice que esta activo cuando en realidad esta dado de baja

Prediction    64
Actual        64
res           64
dtype: int64

In [27]:
se_nos_van = se_nos_van.reset_index()

In [29]:
se_nos_van.to_csv("se_nos_van.csv")