In [1]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [2]:
# Dependencies
import numpy as np
import pandas as pd

In [3]:
import tensorflow

In [4]:
df = pd.read_csv('../Resources/CONSOLIDADO.csv', index_col=0)
df.head()

,sem_x,codigo_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,...,alim,infon,falt,enf,ries,ISPT,ISPTA,IMSS,subs,label
0,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,367.56,...,0.0,0.0,0.0,0.0,0.0,289.63,0.0,49.55,0.00,0
1,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,0.00,...,0.0,0.0,0.0,0.0,0.0,60.93,0.0,24.12,0.00,0
2,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,180.25,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.07,33.13,1
3,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,27.04,38.26,1
4,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,103.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23.71,34.96,0

In [5]:
def labeling(row):
    sigue = "sigue"
    fue = "fue"
    if row == 0:
        return sigue
    else:
        return fue

In [6]:
df["label"] = df["label"].apply(lambda row: labeling(row))

In [7]:
df.head()

,sem_x,codigo_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,...,alim,infon,falt,enf,ries,ISPT,ISPTA,IMSS,subs,label
0,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,367.56,...,0.0,0.0,0.0,0.0,0.0,289.63,0.0,49.55,0.00,sigue
1,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,0.00,...,0.0,0.0,0.0,0.0,0.0,60.93,0.0,24.12,0.00,sigue
2,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,180.25,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.07,33.13,fue
3,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,27.04,38.26,fue
4,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,103.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23.71,34.96,sigue

In [8]:
df["label"].value_counts()

fue      5552
sigue    2661
Name: label, dtype: int64

In [9]:
df.isna().values.any()

False

In [12]:
df = df.set_index("codigo_x")

In [13]:
df = df[["dias_pag","dias_lab","sueldo","comp","asist","transp","vales_x","te_dob",
          "te_trip","desc_Lab","fest_lab","dominic","perc_grav","obj","aguin","vac","prim_vac",
          "grat_esp","util","zapatos","otras","fonac","alim","infon","falt","enf","ries","label"]]

In [14]:
df.head()

,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,te_trip,desc_Lab,...,util,zapatos,otras,fonac,alim,infon,falt,enf,ries,label
codigo_x,,,,,,,,,,,,,,,,,,,,,
7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,367.56,673.86,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sigue
7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sigue
6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,180.25,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,fue
7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,fue
7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,103.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sigue

## Data Pre-Processing

In [15]:
X = df.drop("label", axis=1)
y = df["label"]
print(X.shape, y.shape)

(8213, 27) (8213,)

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [17]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)

In [18]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [20]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

# Create a Deep Learning Model

In [21]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [22]:
len(X_train_scaled[0])

27

In [23]:
len(X_test_scaled[0])

27

In [28]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=27))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [29]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [30]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 100)               2800
_________________________________________________________________
dense_4 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_5 (Dense)              (None, 2)                 202
=================================================================
Total params: 13,102
Trainable params: 13,102
Non-trainable params: 0
_________________________________________________________________

In [31]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Train on 6159 samples
Epoch 1/100
6159/6159 - 1s - loss: 0.5802 - accuracy: 0.7003
Epoch 2/100
6159/6159 - 0s - loss: 0.5567 - accuracy: 0.7167
Epoch 3/100
6159/6159 - 0s - loss: 0.5516 - accuracy: 0.7193
Epoch 4/100
6159/6159 - 0s - loss: 0.5475 - accuracy: 0.7321
Epoch 5/100
6159/6159 - 0s - loss: 0.5429 - accuracy: 0.7285
Epoch 6/100
6159/6159 - 0s - loss: 0.5369 - accuracy: 0.7353
Epoch 7/100
6159/6159 - 0s - loss: 0.5327 - accuracy: 0.7360
Epoch 8/100
6159/6159 - 0s - loss: 0.5290 - accuracy: 0.7337
Epoch 9/100
6159/6159 - 0s - loss: 0.5231 - accuracy: 0.7383
Epoch 10/100
6159/6159 - 0s - loss: 0.5174 - accuracy: 0.7378
Epoch 11/100
6159/6159 - 0s - loss: 0.5165 - accuracy: 0.7401
Epoch 12/100
6159/6159 - 0s - loss: 0.5107 - accuracy: 0.7449
Epoch 13/100
6159/6159 - 0s - loss: 0.5062 - accuracy: 0.7469
Epoch 14/100
6159/6159 - 0s - loss: 0.5013 - accuracy: 0.7446
Epoch 15/100
6159/6159 - 0s - loss: 0.4993 - accuracy: 0.7509
Epoch 16/100
6159/6159 - 0s - loss: 0.4927 - accuracy: 0.7490
Epoch 17/100
6159/6159 - 0s - loss: 0.4906 - accuracy: 0.7526
Epoch 18/100
6159/6159 - 0s - loss: 0.4871 - accuracy: 0.7493
Epoch 19/100
6159/6159 - 0s - loss: 0.4872 - accuracy: 0.7539
Epoch 20/100
6159/6159 - 0s - loss: 0.4815 - accuracy: 0.7569
Epoch 21/100
6159/6159 - 0s - loss: 0.4814 - accuracy: 0.7591
Epoch 22/100
6159/6159 - 0s - loss: 0.4791 - accuracy: 0.7552
Epoch 23/100
6159/6159 - 0s - loss: 0.4766 - accuracy: 0.7597
Epoch 24/100
6159/6159 - 0s - loss: 0.4794 - accuracy: 0.7582
Epoch 25/100
6159/6159 - 0s - loss: 0.4734 - accuracy: 0.7591
Epoch 26/100
6159/6159 - 0s - loss: 0.4742 - accuracy: 0.7545
Epoch 27/100
6159/6159 - 0s - loss: 0.4690 - accuracy: 0.7594
Epoch 28/100
6159/6159 - 0s - loss: 0.4736 - accuracy: 0.7550
Epoch 29/100
6159/6159 - 0s - loss: 0.4666 - accuracy: 0.7605
Epoch 30/100
6159/6159 - 0s - loss: 0.4708 - accuracy: 0.7599
Epoch 31/100
6159/6159 - 0s - loss: 0.4670 - accuracy: 0.7612
Epoch 32/100
6159/6159 - 0s - loss: 0.4623 - accuracy: 0.7677
Epoch 33/100
6159/6159 - 0s - loss: 0.4656 - accuracy: 0.7581
Epoch 34/100
6159/6159 - 0s - loss: 0.4626 - accuracy: 0.7623
Epoch 35/100
6159/6159 - 0s - loss: 0.4600 - accuracy: 0.7605
Epoch 36/100
6159/6159 - 0s - loss: 0.4610 - accuracy: 0.7589
Epoch 37/100
6159/6159 - 0s - loss: 0.4588 - accuracy: 0.7651
Epoch 38/100
6159/6159 - 0s - loss: 0.4582 - accuracy: 0.7634
Epoch 39/100
6159/6159 - 0s - loss: 0.4578 - accuracy: 0.7626
Epoch 40/100
6159/6159 - 0s - loss: 0.4567 - accuracy: 0.7607
Epoch 41/100
6159/6159 - 0s - loss: 0.4573 - accuracy: 0.7641
Epoch 42/100
6159/6159 - 0s - loss: 0.4504 - accuracy: 0.7696
Epoch 43/100
6159/6159 - 0s - loss: 0.4503 - accuracy: 0.7672
Epoch 44/100
6159/6159 - 0s - loss: 0.4515 - accuracy: 0.7642
Epoch 45/100
6159/6159 - 0s - loss: 0.4490 - accuracy: 0.7688
Epoch 46/100
6159/6159 - 0s - loss: 0.4506 - accuracy: 0.7646
Epoch 47/100
6159/6159 - 0s - loss: 0.4506 - accuracy: 0.7670
Epoch 48/100
6159/6159 - 0s - loss: 0.4500 - accuracy: 0.7688
Epoch 49/100
6159/6159 - 0s - loss: 0.4464 - accuracy: 0.7660
Epoch 50/100
6159/6159 - 0s - loss: 0.4486 - accuracy: 0.7699
Epoch 51/100
6159/6159 - 0s - loss: 0.4497 - accuracy: 0.7646
Epoch 52/100
6159/6159 - 0s - loss: 0.4468 - accuracy: 0.7701
Epoch 53/100
6159/6159 - 0s - loss: 0.4435 - accuracy: 0.7670
Epoch 54/100
6159/6159 - 0s - loss: 0.4436 - accuracy: 0.7717
Epoch 55/100
6159/6159 - 0s - loss: 0.4452 - accuracy: 0.7694
Epoch 56/100
6159/6159 - 0s - loss: 0.4450 - accuracy: 0.7701
Epoch 57/100
6159/6159 - 0s - loss: 0.4421 - accuracy: 0.7681
Epoch 58/100
6159/6159 - 0s - loss: 0.4419 - accuracy: 0.7751
Epoch 59/100
6159/6159 - 0s - loss: 0.4399 - accuracy: 0.7690
Epoch 60/100
6159/6159 - 0s - loss: 0.4415 - accuracy: 0.7716
Epoch 61/100
6159/6159 - 0s - loss: 0.4396 - accuracy: 0.7720
Epoch 62/100
6159/6159 - 0s - loss: 0.4405 - accuracy: 0.7681
Epoch 63/100
6159/6159 - 0s - loss: 0.4374 - accuracy: 0.7751
Epoch 64/100
6159/6159 - 0s - loss: 0.4401 - accuracy: 0.7696
Epoch 65/100
6159/6159 - 0s - loss: 0.4360 - accuracy: 0.7735
Epoch 66/100
6159/6159 - 0s - loss: 0.4396 - accuracy: 0.7771
Epoch 67/100
6159/6159 - 0s - loss: 0.4355 - accuracy: 0.7751
Epoch 68/100
6159/6159 - 0s - loss: 0.4367 - accuracy: 0.7709
Epoch 69/100
6159/6159 - 0s - loss: 0.4346 - accuracy: 0.7735
Epoch 70/100
6159/6159 - 0s - loss: 0.4333 - accuracy: 0.7816
Epoch 71/100
6159/6159 - 0s - loss: 0.4325 - accuracy: 0.7777
Epoch 72/100
6159/6159 - 0s - loss: 0.4325 - accuracy: 0.7748
Epoch 73/100
6159/6159 - 0s - loss: 0.4356 - accuracy: 0.7709
Epoch 74/100
6159/6159 - 0s - loss: 0.4326 - accuracy: 0.7771
Epoch 75/100
6159/6159 - 0s - loss: 0.4318 - accuracy: 0.7758
Epoch 76/100
6159/6159 - 0s - loss: 0.4327 - accuracy: 0.7727
Epoch 77/100
6159/6159 - 0s - loss: 0.4309 - accuracy: 0.7753
Epoch 78/100
6159/6159 - 0s - loss: 0.4318 - accuracy: 0.7764
Epoch 79/100
6159/6159 - 0s - loss: 0.4320 - accuracy: 0.7737
Epoch 80/100
6159/6159 - 0s - loss: 0.4290 - accuracy: 0.7776
Epoch 81/100
6159/6159 - 0s - loss: 0.4318 - accuracy: 0.7764
Epoch 82/100
6159/6159 - 0s - loss: 0.4331 - accuracy: 0.7748
Epoch 83/100
6159/6159 - 0s - loss: 0.4286 - accuracy: 0.7798
Epoch 84/100
6159/6159 - 0s - loss: 0.4264 - accuracy: 0.7792
Epoch 85/100
6159/6159 - 0s - loss: 0.4279 - accuracy: 0.7772
Epoch 86/100
6159/6159 - 0s - loss: 0.4301 - accuracy: 0.7774
Epoch 87/100
6159/6159 - 0s - loss: 0.4271 - accuracy: 0.7771
Epoch 88/100
6159/6159 - 0s - loss: 0.4265 - accuracy: 0.7806
Epoch 89/100
6159/6159 - 0s - loss: 0.4240 - accuracy: 0.7790
Epoch 90/100
6159/6159 - 0s - loss: 0.4283 - accuracy: 0.7776
Epoch 91/100
6159/6159 - 0s - loss: 0.4276 - accuracy: 0.7818
Epoch 92/100
6159/6159 - 0s - loss: 0.4259 - accuracy: 0.7784
Epoch 93/100
6159/6159 - 0s - loss: 0.4243 - accuracy: 0.7785
Epoch 94/100
6159/6159 - 0s - loss: 0.4247 - accuracy: 0.7800
Epoch 95/100
6159/6159 - 0s - loss: 0.4207 - accuracy: 0.7842
Epoch 96/100
6159/6159 - 0s - loss: 0.4213 - accuracy: 0.7839
Epoch 97/100
6159/6159 - 0s - loss: 0.4225 - accuracy: 0.7803
Epoch 98/100
6159/6159 - 0s - loss: 0.4232 - accuracy: 0.7800
Epoch 99/100
6159/6159 - 0s - loss: 0.4234 - accuracy: 0.7829
Epoch 100/100
6159/6159 - 0s - loss: 0.4209 - accuracy: 0.7834

## Quantify our Trained Model

In [32]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

2054/1 - 0s - loss: 0.4555 - accuracy: 0.7595
Normal Neural Network - Loss: 0.5508812326999579, Accuracy: 0.7594936490058899

## Make Predictions

In [33]:
encoded_predictions = model.predict_classes(X_test_scaled)
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [34]:
results = pd.DataFrame({
"prediction": prediction_labels,
"actual": y_test
})
results.head()

         prediction actual
codigo_x
6934            fue    fue
7846            fue    fue
8101          sigue    fue
4514            fue    fue
7137            fue    fue

In [35]:
results["diffs"] = results["prediction"] == results["actual"]

In [36]:
results.head()

         prediction actual  diffs
codigo_x
6934            fue    fue   True
7846            fue    fue   True
8101          sigue    fue  False
4514            fue    fue   True
7137            fue    fue   True

In [37]:
results["diffs"].value_counts()

True     1560
False     494
Name: diffs, dtype: int64

In [42]:
diffs = results.loc[results["diffs"] == False]

In [44]:
se_nos_van = diffs.loc[diffs["actual"] == "sigue"]

In [45]:
no_debieron_irse = diffs.loc[diffs["prediction"] == "sigue"]

In [48]:
se_nos_van.reset_index(inplace=True)

In [51]:
no_debieron_irse.reset_index(inplace=True)

In [53]:
se_nos_van = se_nos_van.groupby("codigo_x").count()

In [54]:
no_debieron_irse = no_debieron_irse.groupby("codigo_x").count()

In [55]:
se_nos_van.count()

prediction    114
actual        114
diffs         114
dtype: int64

In [56]:
no_debieron_irse.count()

prediction    91
actual        91
diffs         91
dtype: int64