In [1]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [2]:
# Dependencies
import numpy as np
import pandas as pd

In [3]:
import tensorflow

In [4]:
df = pd.read_csv('../Resources/CONSOLIDADO_DESDE_2018.csv', index_col=0)
df.head()

,año_x,sem_x,codigo_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,...,alim,infon,falt,enf,ries,ISPT,ISPTA,IMSS,subs,label
0,2019,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,...,0.0,0.0,0.0,0.0,0.0,289.63,0.0,49.55,0.00,1
1,2019,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,...,0.0,0.0,0.0,0.0,0.0,60.93,0.0,24.12,0.00,1
2,2019,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.07,33.13,1
3,2019,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,27.04,38.26,1
4,2019,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23.71,34.96,1

In [5]:
def labeling(row):
    sigue = "sigue"
    fue = "fue"
    if row == 0:
        return sigue
    else:
        return fue

In [6]:
df["label"] = df["label"].apply(lambda row: labeling(row))

In [7]:
df.head()

,año_x,sem_x,codigo_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,...,alim,infon,falt,enf,ries,ISPT,ISPTA,IMSS,subs,label
0,2019,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,...,0.0,0.0,0.0,0.0,0.0,289.63,0.0,49.55,0.00,fue
1,2019,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,...,0.0,0.0,0.0,0.0,0.0,60.93,0.0,24.12,0.00,fue
2,2019,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.07,33.13,fue
3,2019,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,27.04,38.26,fue
4,2019,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23.71,34.96,fue

In [8]:
df["label"].value_counts()

fue      14097
sigue     4268
Name: label, dtype: int64

In [9]:
df.isna().values.any()

False

In [10]:
df = df.set_index("codigo_x")

In [11]:
df = df[["dias_pag","dias_lab","sueldo","comp","asist","transp","vales_x","te_dob",
          "te_trip","desc_Lab","fest_lab","dominic","perc_grav","obj","aguin","vac","prim_vac",
          "grat_esp","util","zapatos","otras","fonac","alim","infon","falt","enf","ries","label"]]

In [12]:
df.head()

,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,te_trip,desc_Lab,...,util,zapatos,otras,fonac,alim,infon,falt,enf,ries,label
codigo_x,,,,,,,,,,,,,,,,,,,,,
7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,367.56,673.86,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,fue
7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,fue
6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,180.25,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,fue
7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,fue
7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,103.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,fue

## Data Pre-Processing

In [13]:
X = df.drop("label", axis=1)
y = df["label"]
print(X.shape, y.shape)

(18365, 27) (18365,)

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [15]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)

In [16]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [18]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

# Create a Deep Learning Model

In [19]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [20]:
len(X_train_scaled[0])

27

In [21]:
len(X_test_scaled[0])

27

In [22]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=27))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [23]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               2800
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 202
=================================================================
Total params: 13,102
Trainable params: 13,102
Non-trainable params: 0
_________________________________________________________________

In [25]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Train on 13773 samples
Epoch 1/100
13773/13773 - 1s - loss: 0.4997 - accuracy: 0.7761
Epoch 2/100
13773/13773 - 1s - loss: 0.4846 - accuracy: 0.7820
Epoch 3/100
13773/13773 - 0s - loss: 0.4784 - accuracy: 0.7826
Epoch 4/100
13773/13773 - 0s - loss: 0.4718 - accuracy: 0.7877
Epoch 5/100
13773/13773 - 0s - loss: 0.4658 - accuracy: 0.7880
Epoch 6/100
13773/13773 - 0s - loss: 0.4636 - accuracy: 0.7884
Epoch 7/100
13773/13773 - 0s - loss: 0.4584 - accuracy: 0.7894
Epoch 8/100
13773/13773 - 0s - loss: 0.4552 - accuracy: 0.7913
Epoch 9/100
13773/13773 - 0s - loss: 0.4547 - accuracy: 0.7921
Epoch 10/100
13773/13773 - 0s - loss: 0.4507 - accuracy: 0.7937
Epoch 11/100
13773/13773 - 0s - loss: 0.4486 - accuracy: 0.7937
Epoch 12/100
13773/13773 - 0s - loss: 0.4453 - accuracy: 0.7955
Epoch 13/100
13773/13773 - 0s - loss: 0.4463 - accuracy: 0.7934
Epoch 14/100
13773/13773 - 0s - loss: 0.4438 - accuracy: 0.7945
Epoch 15/100
13773/13773 - 0s - loss: 0.4416 - accuracy: 0.7971
Epoch 16/100
13773/13773 - 0s - loss: 0.4389 - accuracy: 0.7977
Epoch 17/100
13773/13773 - 0s - loss: 0.4399 - accuracy: 0.7966
Epoch 18/100
13773/13773 - 0s - loss: 0.4363 - accuracy: 0.7971
Epoch 19/100
13773/13773 - 1s - loss: 0.4355 - accuracy: 0.7956
Epoch 20/100
13773/13773 - 0s - loss: 0.4343 - accuracy: 0.7980
Epoch 21/100
13773/13773 - 0s - loss: 0.4350 - accuracy: 0.7966
Epoch 22/100
13773/13773 - 0s - loss: 0.4321 - accuracy: 0.7983
Epoch 23/100
13773/13773 - 1s - loss: 0.4309 - accuracy: 0.8005
Epoch 24/100
13773/13773 - 0s - loss: 0.4274 - accuracy: 0.8031
Epoch 25/100
13773/13773 - 0s - loss: 0.4284 - accuracy: 0.8008
Epoch 26/100
13773/13773 - 1s - loss: 0.4256 - accuracy: 0.8027
Epoch 27/100
13773/13773 - 1s - loss: 0.4252 - accuracy: 0.8026
Epoch 28/100
13773/13773 - 0s - loss: 0.4231 - accuracy: 0.8008
Epoch 29/100
13773/13773 - 1s - loss: 0.4214 - accuracy: 0.8045
Epoch 30/100
13773/13773 - 0s - loss: 0.4214 - accuracy: 0.8037
Epoch 31/100
13773/13773 - 1s - loss: 0.4202 - accuracy: 0.8039
Epoch 32/100
13773/13773 - 0s - loss: 0.4179 - accuracy: 0.8043
Epoch 33/100
13773/13773 - 0s - loss: 0.4173 - accuracy: 0.8059
Epoch 34/100
13773/13773 - 0s - loss: 0.4158 - accuracy: 0.8053
Epoch 35/100
13773/13773 - 0s - loss: 0.4168 - accuracy: 0.8045
Epoch 36/100
13773/13773 - 0s - loss: 0.4144 - accuracy: 0.8051
Epoch 37/100
13773/13773 - 0s - loss: 0.4129 - accuracy: 0.8049
Epoch 38/100
13773/13773 - 0s - loss: 0.4113 - accuracy: 0.8058
Epoch 39/100
13773/13773 - 1s - loss: 0.4128 - accuracy: 0.8032
Epoch 40/100
13773/13773 - 0s - loss: 0.4119 - accuracy: 0.8076
Epoch 41/100
13773/13773 - 0s - loss: 0.4086 - accuracy: 0.8070
Epoch 42/100
13773/13773 - 0s - loss: 0.4100 - accuracy: 0.8056
Epoch 43/100
13773/13773 - 0s - loss: 0.4085 - accuracy: 0.8086
Epoch 44/100
13773/13773 - 0s - loss: 0.4062 - accuracy: 0.8101
Epoch 45/100
13773/13773 - 0s - loss: 0.4042 - accuracy: 0.8087
Epoch 46/100
13773/13773 - 0s - loss: 0.4050 - accuracy: 0.8099
Epoch 47/100
13773/13773 - 0s - loss: 0.4043 - accuracy: 0.8077
Epoch 48/100
13773/13773 - 0s - loss: 0.4034 - accuracy: 0.8095
Epoch 49/100
13773/13773 - 1s - loss: 0.4040 - accuracy: 0.8112
Epoch 50/100
13773/13773 - 0s - loss: 0.4012 - accuracy: 0.8099
Epoch 51/100
13773/13773 - 0s - loss: 0.4024 - accuracy: 0.8098
Epoch 52/100
13773/13773 - 0s - loss: 0.4011 - accuracy: 0.8107
Epoch 53/100
13773/13773 - 0s - loss: 0.3999 - accuracy: 0.8111
Epoch 54/100
13773/13773 - 0s - loss: 0.3992 - accuracy: 0.8110
Epoch 55/100
13773/13773 - 0s - loss: 0.3987 - accuracy: 0.8109
Epoch 56/100
13773/13773 - 0s - loss: 0.3966 - accuracy: 0.8117
Epoch 57/100
13773/13773 - 0s - loss: 0.3968 - accuracy: 0.8109
Epoch 58/100
13773/13773 - 0s - loss: 0.3942 - accuracy: 0.8116
Epoch 59/100
13773/13773 - 0s - loss: 0.3945 - accuracy: 0.8129
Epoch 60/100
13773/13773 - 0s - loss: 0.3941 - accuracy: 0.8131
Epoch 61/100
13773/13773 - 0s - loss: 0.3945 - accuracy: 0.8137
Epoch 62/100
13773/13773 - 0s - loss: 0.3947 - accuracy: 0.8118
Epoch 63/100
13773/13773 - 0s - loss: 0.3915 - accuracy: 0.8147
Epoch 64/100
13773/13773 - 0s - loss: 0.3904 - accuracy: 0.8143
Epoch 65/100
13773/13773 - 0s - loss: 0.3904 - accuracy: 0.8130
Epoch 66/100
13773/13773 - 0s - loss: 0.3906 - accuracy: 0.8140
Epoch 67/100
13773/13773 - 0s - loss: 0.3889 - accuracy: 0.8160
Epoch 68/100
13773/13773 - 0s - loss: 0.3900 - accuracy: 0.8133
Epoch 69/100
13773/13773 - 0s - loss: 0.3884 - accuracy: 0.8127
Epoch 70/100
13773/13773 - 0s - loss: 0.3864 - accuracy: 0.8127
Epoch 71/100
13773/13773 - 0s - loss: 0.3865 - accuracy: 0.8163
Epoch 72/100
13773/13773 - 0s - loss: 0.3860 - accuracy: 0.8144
Epoch 73/100
13773/13773 - 0s - loss: 0.3852 - accuracy: 0.8149
Epoch 74/100
13773/13773 - 1s - loss: 0.3843 - accuracy: 0.8155
Epoch 75/100
13773/13773 - 0s - loss: 0.3859 - accuracy: 0.8146
Epoch 76/100
13773/13773 - 1s - loss: 0.3853 - accuracy: 0.8126
Epoch 77/100
13773/13773 - 0s - loss: 0.3833 - accuracy: 0.8149
Epoch 78/100
13773/13773 - 0s - loss: 0.3836 - accuracy: 0.8136
Epoch 79/100
13773/13773 - 0s - loss: 0.3836 - accuracy: 0.8166
Epoch 80/100
13773/13773 - 0s - loss: 0.3811 - accuracy: 0.8167
Epoch 81/100
13773/13773 - 0s - loss: 0.3807 - accuracy: 0.8172
Epoch 82/100
13773/13773 - 0s - loss: 0.3814 - accuracy: 0.8161
Epoch 83/100
13773/13773 - 1s - loss: 0.3812 - accuracy: 0.8199
Epoch 84/100
13773/13773 - 0s - loss: 0.3785 - accuracy: 0.8165
Epoch 85/100
13773/13773 - 0s - loss: 0.3796 - accuracy: 0.8162
Epoch 86/100
13773/13773 - 0s - loss: 0.3776 - accuracy: 0.8182
Epoch 87/100
13773/13773 - 1s - loss: 0.3782 - accuracy: 0.8179
Epoch 88/100
13773/13773 - 0s - loss: 0.3776 - accuracy: 0.8177
Epoch 89/100
13773/13773 - 1s - loss: 0.3776 - accuracy: 0.8173
Epoch 90/100
13773/13773 - 1s - loss: 0.3775 - accuracy: 0.8168
Epoch 91/100
13773/13773 - 0s - loss: 0.3792 - accuracy: 0.8157
Epoch 92/100
13773/13773 - 0s - loss: 0.3768 - accuracy: 0.8171
Epoch 93/100
13773/13773 - 0s - loss: 0.3748 - accuracy: 0.8176
Epoch 94/100
13773/13773 - 0s - loss: 0.3754 - accuracy: 0.8170
Epoch 95/100
13773/13773 - 0s - loss: 0.3746 - accuracy: 0.8173
Epoch 96/100
13773/13773 - 0s - loss: 0.3758 - accuracy: 0.8170
Epoch 97/100
13773/13773 - 0s - loss: 0.3744 - accuracy: 0.8202
Epoch 98/100
13773/13773 - 0s - loss: 0.3730 - accuracy: 0.8176
Epoch 99/100
13773/13773 - 1s - loss: 0.3712 - accuracy: 0.8181
Epoch 100/100
13773/13773 - 1s - loss: 0.3732 - accuracy: 0.8193

## Quantify our Trained Model

In [26]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

4592/1 - 0s - loss: 0.3552 - accuracy: 0.8186
Normal Neural Network - Loss: 0.42819398901188416, Accuracy: 0.8185975551605225

## Make Predictions

In [27]:
encoded_predictions = model.predict_classes(X_test_scaled)
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [28]:
results = pd.DataFrame({
"prediction": prediction_labels,
"actual": y_test
})
results.head()

         prediction actual
codigo_x
2112            fue    fue
7814            fue    fue
236             fue    fue
5280            fue    fue
7545          sigue    fue

In [29]:
results["diffs"] = results["prediction"] == results["actual"]

In [30]:
results.head()

         prediction actual  diffs
codigo_x
2112            fue    fue   True
7814            fue    fue   True
236             fue    fue   True
5280            fue    fue   True
7545          sigue    fue  False

In [31]:
results["diffs"].value_counts()

True     3759
False     833
Name: diffs, dtype: int64

In [32]:
diffs = results.loc[results["diffs"] == False]

In [33]:
se_nos_van = diffs.loc[diffs["actual"] == "sigue"]

In [34]:
no_debieron_irse = diffs.loc[diffs["prediction"] == "sigue"]

In [35]:
se_nos_van.reset_index(inplace=True)

In [36]:
no_debieron_irse.reset_index(inplace=True)

In [37]:
se_nos_van = se_nos_van.groupby("codigo_x").count()

In [38]:
no_debieron_irse = no_debieron_irse.groupby("codigo_x").count()

In [39]:
se_nos_van.count()

prediction    229
actual        229
diffs         229
dtype: int64

In [40]:
no_debieron_irse.count()

prediction    116
actual        116
diffs         116
dtype: int64