In [1]:
import os
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv("./Resources/CONSOLIDADO.csv", index_col=0)
# Drop the null rows
df = df.dropna()
df.head()

,sem_x,codigo_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,...,alim,infon,falt,enf,ries,ISPT,ISPTA,IMSS,subs,label
0,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,367.56,...,0.0,0.0,0.0,0.0,0.0,289.63,0.0,49.55,0.00,0
1,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,0.00,...,0.0,0.0,0.0,0.0,0.0,60.93,0.0,24.12,0.00,0
2,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,180.25,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.07,33.13,1
3,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,27.04,38.26,1
4,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,103.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23.71,34.96,0

# Read the CSV and Perform Basic Data Cleaning

In [18]:
df.dropna(how='all', axis=1)
df.head()

,sem_x,codigo_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,...,alim,infon,falt,enf,ries,ISPT,ISPTA,IMSS,subs,label
0,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,367.56,...,0.0,0.0,0.0,0.0,0.0,289.63,0.0,49.55,0.00,0
1,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,0.00,...,0.0,0.0,0.0,0.0,0.0,60.93,0.0,24.12,0.00,0
2,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,180.25,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.07,33.13,1
3,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,27.04,38.26,1
4,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,103.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23.71,34.96,0

# Select your features (columns)

In [25]:
# Set features. This will also be used as your x values.
X = df[["dias_pag","dias_lab","sueldo","comp","asist","transp","vales_x","te_dob",
          "te_trip","desc_Lab","fest_lab","dominic","perc_grav","obj","aguin","vac","prim_vac",
          "grat_esp","util","zapatos","otras","fonac","alim","infon","falt","enf","ries","ISPT","IMSS","subs","label"]]
X.head()
len(X)

8213

# Create a Train Test Split

Use `koi_disposition` for the y values

In [24]:
y = df['label']
len(y)

8213

In [26]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [27]:
X_train.head()

,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,te_trip,desc_Lab,...,fonac,alim,infon,falt,enf,ries,ISPT,IMSS,subs,label
7711,7.0,6.0,878.01,307.65,60.0,50.0,189.70,31.35,0.0,250.86,...,0.0,0.0,0.00,0.00,0.0,0.0,65.59,37.40,0.00,1
3826,7.0,6.0,721.00,123.06,60.0,60.0,135.04,180.25,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.0,4.27,29.84,0.00,1
746,7.0,6.0,721.00,123.06,60.0,60.0,135.04,0.00,0.0,0.00,...,0.0,0.0,201.35,0.00,0.0,0.0,0.00,20.95,32.33,0
3214,7.0,6.0,721.00,30.38,60.0,50.0,120.22,0.00,0.0,0.00,...,0.0,0.0,0.00,0.00,0.0,0.0,0.00,18.65,39.01,0
2024,7.0,5.0,721.00,102.84,0.0,50.0,112.86,0.00,0.0,0.00,...,0.0,0.0,0.00,120.51,0.0,0.0,0.00,20.92,47.10,1

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [28]:
# Scale your data
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X_train)
# Transform the training and testing data using the X_scaler

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\Gonzalo\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Gonzalo\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

C:\Users\Gonzalo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  if __name__ == '__main__':

In [29]:
len(X_train_scaled[0])

31

In [30]:
len(X_test_scaled[0])

31

In [31]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [63]:
# Step 2: Convert encoded labels to one-hot-encoding
# ohe = 
#y_train_categorical = to_categorical(encoded_y_train)
#y_test_categorical = to_categorical(encoded_y_test)

#y_train_categorical = y_train_categorical[0]

In [47]:
# Create a StandardScater model and fit it to the training data
#y_train.reshape(-1, 1) 
#y_scaler = StandardScaler().fit(y_train)
# Transform the training and testing data using the X_scaler

#y_train_scaled = y_scaler.transform(y_train)
#y_test_scaled = y_scaler.transform(y_test)

In [48]:
type(y_train)

pandas.core.series.Series

# Train the Model

In [49]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=40, activation='relu', input_dim=31))
model.add(Dense(units=2, activation='softmax'))

In [50]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [51]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 40)                1280
_________________________________________________________________
dense_6 (Dense)              (None, 2)                 82
=================================================================
Total params: 1,362
Trainable params: 1,362
Non-trainable params: 0
_________________________________________________________________

In [52]:
model.fit(
    X_train_scaled,
    y_train,
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60
6159/6159 - 0s - loss: 0.2930 - acc: 0.9302
Epoch 2/60
6159/6159 - 0s - loss: 0.0459 - acc: 0.9984
Epoch 3/60
6159/6159 - 0s - loss: 0.0138 - acc: 0.9997
Epoch 4/60
6159/6159 - 0s - loss: 0.0065 - acc: 1.0000
Epoch 5/60
6159/6159 - 0s - loss: 0.0037 - acc: 1.0000
Epoch 6/60
6159/6159 - 0s - loss: 0.0024 - acc: 1.0000
Epoch 7/60
6159/6159 - 0s - loss: 0.0016 - acc: 1.0000
Epoch 8/60
6159/6159 - 0s - loss: 0.0012 - acc: 1.0000
Epoch 9/60
6159/6159 - 0s - loss: 8.8844e-04 - acc: 1.0000
Epoch 10/60
6159/6159 - 0s - loss: 6.8429e-04 - acc: 1.0000
Epoch 11/60
6159/6159 - 0s - loss: 5.3770e-04 - acc: 1.0000
Epoch 12/60
6159/6159 - 0s - loss: 4.3102e-04 - acc: 1.0000
Epoch 13/60
6159/6159 - 0s - loss: 3.5108e-04 - acc: 1.0000
Epoch 14/60
6159/6159 - 0s - loss: 2.8765e-04 - acc: 1.0000
Epoch 15/60
6159/6159 - 0s - loss: 2.3982e-04 - acc: 1.0000
Epoch 16/60
6159/6159 - 0s - loss: 2.0164e-04 - acc: 1.0000
Epoch 17/60
6159/6159 - 0s - loss: 1.7102e-04 - acc: 1.0000
Epoch 18/60
6159/6159 - 0s - loss: 1.4552e-04 - acc: 1.0000
Epoch 19/60
6159/6159 - 0s - loss: 1.2361e-04 - acc: 1.0000
Epoch 20/60
6159/6159 - 0s - loss: 1.0609e-04 - acc: 1.0000
Epoch 21/60
6159/6159 - 0s - loss: 9.1455e-05 - acc: 1.0000
Epoch 22/60
6159/6159 - 0s - loss: 7.9889e-05 - acc: 1.0000
Epoch 23/60
6159/6159 - 0s - loss: 6.9830e-05 - acc: 1.0000
Epoch 24/60
6159/6159 - 0s - loss: 6.0449e-05 - acc: 1.0000
Epoch 25/60
6159/6159 - 0s - loss: 5.3341e-05 - acc: 1.0000
Epoch 26/60
6159/6159 - 0s - loss: 4.7034e-05 - acc: 1.0000
Epoch 27/60
6159/6159 - 0s - loss: 4.1309e-05 - acc: 1.0000
Epoch 28/60
6159/6159 - 0s - loss: 3.6853e-05 - acc: 1.0000
Epoch 29/60
6159/6159 - 0s - loss: 3.2355e-05 - acc: 1.0000
Epoch 30/60
6159/6159 - 0s - loss: 2.8900e-05 - acc: 1.0000
Epoch 31/60
6159/6159 - 0s - loss: 2.5735e-05 - acc: 1.0000
Epoch 32/60
6159/6159 - 0s - loss: 2.2935e-05 - acc: 1.0000
Epoch 33/60
6159/6159 - 0s - loss: 2.0388e-05 - acc: 1.0000
Epoch 34/60
6159/6159 - 0s - loss: 1.8001e-05 - acc: 1.0000
Epoch 35/60
6159/6159 - 0s - loss: 1.5984e-05 - acc: 1.0000
Epoch 36/60
6159/6159 - 0s - loss: 1.4344e-05 - acc: 1.0000
Epoch 37/60
6159/6159 - 0s - loss: 1.2739e-05 - acc: 1.0000
Epoch 38/60
6159/6159 - 0s - loss: 1.1439e-05 - acc: 1.0000
Epoch 39/60
6159/6159 - 0s - loss: 1.0165e-05 - acc: 1.0000
Epoch 40/60
6159/6159 - 0s - loss: 9.0982e-06 - acc: 1.0000
Epoch 41/60
6159/6159 - 0s - loss: 8.1913e-06 - acc: 1.0000
Epoch 42/60
6159/6159 - 0s - loss: 7.2331e-06 - acc: 1.0000
Epoch 43/60
6159/6159 - 0s - loss: 6.5162e-06 - acc: 1.0000
Epoch 44/60
6159/6159 - 0s - loss: 5.8595e-06 - acc: 1.0000
Epoch 45/60
6159/6159 - 0s - loss: 5.2374e-06 - acc: 1.0000
Epoch 46/60
6159/6159 - 0s - loss: 4.7056e-06 - acc: 1.0000
Epoch 47/60
6159/6159 - 0s - loss: 4.1937e-06 - acc: 1.0000
Epoch 48/60
6159/6159 - 0s - loss: 3.7506e-06 - acc: 1.0000
Epoch 49/60
6159/6159 - 0s - loss: 3.3379e-06 - acc: 1.0000
Epoch 50/60
6159/6159 - 0s - loss: 3.0258e-06 - acc: 1.0000
Epoch 51/60
6159/6159 - 0s - loss: 2.6548e-06 - acc: 1.0000
Epoch 52/60
6159/6159 - 0s - loss: 2.3893e-06 - acc: 1.0000
Epoch 53/60
6159/6159 - 0s - loss: 2.1627e-06 - acc: 1.0000
Epoch 54/60
6159/6159 - 0s - loss: 1.9014e-06 - acc: 1.0000
Epoch 55/60
6159/6159 - 0s - loss: 1.7179e-06 - acc: 1.0000
Epoch 56/60
6159/6159 - 0s - loss: 1.5460e-06 - acc: 1.0000
Epoch 57/60
6159/6159 - 0s - loss: 1.3847e-06 - acc: 1.0000
Epoch 58/60
6159/6159 - 0s - loss: 1.2602e-06 - acc: 1.0000
Epoch 59/60
6159/6159 - 0s - loss: 1.1059e-06 - acc: 1.0000
Epoch 60/60
6159/6159 - 0s - loss: 9.9121e-07 - acc: 1.0000

Quantify our Trained Model

In [53]:
model_loss, model_accuracy = model.evaluate(
    X_train_scaled, y_train, verbose=2)
print(
    f"Train Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

6159/6159 - 0s - loss: 9.2642e-07 - acc: 1.0000
Train Neural Network - Loss: 9.26424386847659e-07, Accuracy: 1.0

In [54]:
deep_model = Sequential()
deep_model.add(Dense(units=50, activation='relu', input_dim=31))
deep_model.add(Dense(units=50, activation='relu'))
deep_model.add(Dense(units=2, activation='softmax'))
deep_model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 50)                1600
_________________________________________________________________
dense_8 (Dense)              (None, 50)                2550
_________________________________________________________________
dense_9 (Dense)              (None, 2)                 102
=================================================================
Total params: 4,252
Trainable params: 4,252
Non-trainable params: 0
_________________________________________________________________

In [55]:
deep_model.compile(optimizer='adam',
                   loss='sparse_categorical_crossentropy',
                   metrics=['accuracy'])

deep_model.fit(
    X_test_scaled,
    y_test,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
2054/2054 - 0s - loss: 0.3854 - acc: 0.8681
Epoch 2/100
2054/2054 - 0s - loss: 0.0642 - acc: 0.9956
Epoch 3/100
2054/2054 - 0s - loss: 0.0119 - acc: 0.9995
Epoch 4/100
2054/2054 - 0s - loss: 0.0047 - acc: 1.0000
Epoch 5/100
2054/2054 - 0s - loss: 0.0025 - acc: 1.0000
Epoch 6/100
2054/2054 - 0s - loss: 0.0016 - acc: 1.0000
Epoch 7/100
2054/2054 - 0s - loss: 0.0011 - acc: 1.0000
Epoch 8/100
2054/2054 - 0s - loss: 8.1022e-04 - acc: 1.0000
Epoch 9/100
2054/2054 - 0s - loss: 6.1871e-04 - acc: 1.0000
Epoch 10/100
2054/2054 - 0s - loss: 4.8980e-04 - acc: 1.0000
Epoch 11/100
2054/2054 - 0s - loss: 3.9775e-04 - acc: 1.0000
Epoch 12/100
2054/2054 - 0s - loss: 3.2950e-04 - acc: 1.0000
Epoch 13/100
2054/2054 - 0s - loss: 2.7734e-04 - acc: 1.0000
Epoch 14/100
2054/2054 - 0s - loss: 2.3640e-04 - acc: 1.0000
Epoch 15/100
2054/2054 - 0s - loss: 2.0303e-04 - acc: 1.0000
Epoch 16/100
2054/2054 - 0s - loss: 1.7660e-04 - acc: 1.0000
Epoch 17/100
2054/2054 - 0s - loss: 1.5438e-04 - acc: 1.0000
Epoch 18/100
2054/2054 - 0s - loss: 1.3637e-04 - acc: 1.0000
Epoch 19/100
2054/2054 - 0s - loss: 1.2061e-04 - acc: 1.0000
Epoch 20/100
2054/2054 - 0s - loss: 1.0804e-04 - acc: 1.0000
Epoch 21/100
2054/2054 - 0s - loss: 9.7296e-05 - acc: 1.0000
Epoch 22/100
2054/2054 - 0s - loss: 8.7769e-05 - acc: 1.0000
Epoch 23/100
2054/2054 - 0s - loss: 7.9366e-05 - acc: 1.0000
Epoch 24/100
2054/2054 - 0s - loss: 7.2240e-05 - acc: 1.0000
Epoch 25/100
2054/2054 - 0s - loss: 6.5912e-05 - acc: 1.0000
Epoch 26/100
2054/2054 - 0s - loss: 6.0494e-05 - acc: 1.0000
Epoch 27/100
2054/2054 - 0s - loss: 5.5710e-05 - acc: 1.0000
Epoch 28/100
2054/2054 - 0s - loss: 5.1321e-05 - acc: 1.0000
Epoch 29/100
2054/2054 - 0s - loss: 4.7416e-05 - acc: 1.0000
Epoch 30/100
2054/2054 - 0s - loss: 4.3908e-05 - acc: 1.0000
Epoch 31/100
2054/2054 - 0s - loss: 4.0824e-05 - acc: 1.0000
Epoch 32/100
2054/2054 - 0s - loss: 3.7930e-05 - acc: 1.0000
Epoch 33/100
2054/2054 - 0s - loss: 3.5354e-05 - acc: 1.0000
Epoch 34/100
2054/2054 - 0s - loss: 3.2931e-05 - acc: 1.0000
Epoch 35/100
2054/2054 - 0s - loss: 3.0816e-05 - acc: 1.0000
Epoch 36/100
2054/2054 - 0s - loss: 2.8808e-05 - acc: 1.0000
Epoch 37/100
2054/2054 - 0s - loss: 2.6992e-05 - acc: 1.0000
Epoch 38/100
2054/2054 - 0s - loss: 2.5310e-05 - acc: 1.0000
Epoch 39/100
2054/2054 - 0s - loss: 2.4211e-05 - acc: 1.0000
Epoch 40/100
2054/2054 - 0s - loss: 2.2265e-05 - acc: 1.0000
Epoch 41/100
2054/2054 - 0s - loss: 2.0888e-05 - acc: 1.0000
Epoch 42/100
2054/2054 - 0s - loss: 1.9699e-05 - acc: 1.0000
Epoch 43/100
2054/2054 - 0s - loss: 1.8630e-05 - acc: 1.0000
Epoch 44/100
2054/2054 - 0s - loss: 1.7583e-05 - acc: 1.0000
Epoch 45/100
2054/2054 - 0s - loss: 1.6619e-05 - acc: 1.0000
Epoch 46/100
2054/2054 - 0s - loss: 1.5735e-05 - acc: 1.0000
Epoch 47/100
2054/2054 - 0s - loss: 1.4876e-05 - acc: 1.0000
Epoch 48/100
2054/2054 - 0s - loss: 1.4107e-05 - acc: 1.0000
Epoch 49/100
2054/2054 - 0s - loss: 1.3358e-05 - acc: 1.0000
Epoch 50/100
2054/2054 - 0s - loss: 1.2666e-05 - acc: 1.0000
Epoch 51/100
2054/2054 - 0s - loss: 1.2054e-05 - acc: 1.0000
Epoch 52/100
2054/2054 - 0s - loss: 1.1433e-05 - acc: 1.0000
Epoch 53/100
2054/2054 - 0s - loss: 1.0868e-05 - acc: 1.0000
Epoch 54/100
2054/2054 - 0s - loss: 1.0328e-05 - acc: 1.0000
Epoch 55/100
2054/2054 - 0s - loss: 9.8326e-06 - acc: 1.0000
Epoch 56/100
2054/2054 - 0s - loss: 9.3425e-06 - acc: 1.0000
Epoch 57/100
2054/2054 - 0s - loss: 8.8928e-06 - acc: 1.0000
Epoch 58/100
2054/2054 - 0s - loss: 8.4921e-06 - acc: 1.0000
Epoch 59/100
2054/2054 - 0s - loss: 8.0687e-06 - acc: 1.0000
Epoch 60/100
2054/2054 - 0s - loss: 7.6900e-06 - acc: 1.0000
Epoch 61/100
2054/2054 - 0s - loss: 7.3411e-06 - acc: 1.0000
Epoch 62/100
2054/2054 - 0s - loss: 7.0321e-06 - acc: 1.0000
Epoch 63/100
2054/2054 - 0s - loss: 6.7072e-06 - acc: 1.0000
Epoch 64/100
2054/2054 - 0s - loss: 6.3790e-06 - acc: 1.0000
Epoch 65/100
2054/2054 - 0s - loss: 6.1157e-06 - acc: 1.0000
Epoch 66/100
2054/2054 - 0s - loss: 5.8373e-06 - acc: 1.0000
Epoch 67/100
2054/2054 - 0s - loss: 5.5898e-06 - acc: 1.0000
Epoch 68/100
2054/2054 - 0s - loss: 5.3325e-06 - acc: 1.0000
Epoch 69/100
2054/2054 - 0s - loss: 5.1007e-06 - acc: 1.0000
Epoch 70/100
2054/2054 - 0s - loss: 4.8698e-06 - acc: 1.0000
Epoch 71/100
2054/2054 - 0s - loss: 4.6551e-06 - acc: 1.0000
Epoch 72/100
2054/2054 - 0s - loss: 4.4519e-06 - acc: 1.0000
Epoch 73/100
2054/2054 - 0s - loss: 4.2634e-06 - acc: 1.0000
Epoch 74/100
2054/2054 - 0s - loss: 4.0753e-06 - acc: 1.0000
Epoch 75/100
2054/2054 - 0s - loss: 3.9028e-06 - acc: 1.0000
Epoch 76/100
2054/2054 - 0s - loss: 3.7327e-06 - acc: 1.0000
Epoch 77/100
2054/2054 - 0s - loss: 3.5746e-06 - acc: 1.0000
Epoch 78/100
2054/2054 - 0s - loss: 3.4279e-06 - acc: 1.0000
Epoch 79/100
2054/2054 - 0s - loss: 3.2838e-06 - acc: 1.0000
Epoch 80/100
2054/2054 - 0s - loss: 3.1455e-06 - acc: 1.0000
Epoch 81/100
2054/2054 - 0s - loss: 3.0166e-06 - acc: 1.0000
Epoch 82/100
2054/2054 - 0s - loss: 2.8943e-06 - acc: 1.0000
Epoch 83/100
2054/2054 - 0s - loss: 2.7736e-06 - acc: 1.0000
Epoch 84/100
2054/2054 - 0s - loss: 2.6633e-06 - acc: 1.0000
Epoch 85/100
2054/2054 - 0s - loss: 2.5525e-06 - acc: 1.0000
Epoch 86/100
2054/2054 - 0s - loss: 2.4422e-06 - acc: 1.0000
Epoch 87/100
2054/2054 - 0s - loss: 2.3455e-06 - acc: 1.0000
Epoch 88/100
2054/2054 - 0s - loss: 2.2510e-06 - acc: 1.0000
Epoch 89/100
2054/2054 - 0s - loss: 2.1622e-06 - acc: 1.0000
Epoch 90/100
2054/2054 - 0s - loss: 2.0757e-06 - acc: 1.0000
Epoch 91/100
2054/2054 - 0s - loss: 1.9998e-06 - acc: 1.0000
Epoch 92/100
2054/2054 - 0s - loss: 1.9186e-06 - acc: 1.0000
Epoch 93/100
2054/2054 - 0s - loss: 1.8399e-06 - acc: 1.0000
Epoch 94/100
2054/2054 - 0s - loss: 1.7707e-06 - acc: 1.0000
Epoch 95/100
2054/2054 - 0s - loss: 1.6990e-06 - acc: 1.0000
Epoch 96/100
2054/2054 - 0s - loss: 1.6351e-06 - acc: 1.0000
Epoch 97/100
2054/2054 - 0s - loss: 1.5754e-06 - acc: 1.0000
Epoch 98/100
2054/2054 - 0s - loss: 1.5153e-06 - acc: 1.0000
Epoch 99/100
2054/2054 - 0s - loss: 1.4540e-06 - acc: 1.0000
Epoch 100/100
2054/2054 - 0s - loss: 1.3984e-06 - acc: 1.0000

In [46]:
model_loss, model_accuracy = deep_model.evaluate(
    X_test_scaled, y_test, verbose=2)
print(f"Test Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")
#print(f"Training Data Score: {model.score(X_train_scaled, y_train)}")
#print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

2054/2054 - 0s - loss: 1.4904e-06 - acc: 1.0000
Test Neural Network - Loss: 1.4903962052853595e-06, Accuracy: 1.0

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [ ]:
# Create the GridSearch estimator along with a parameter object containing the values to adjust
from sklearn.model_selection import GridSearchCV
from keras.wrappers.scikit_learn import KerasClassifier
# Function to create model, required for KerasClassifier
def create_model():
    # create model
    model = Sequential()
    model.add(Dense(units=100, activation='relu', input_dim=))
    model.add(Dense(units=100, activation='relu'))
    model.add(Dense(units=3, activation='softmax'))
    # Compile model
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model
# fix random seed for reproducibility
seed = 7
np.random.seed(seed)
# create model
model = KerasClassifier(build_fn=create_model, verbose=2)
# define the grid search parameters
batch_size = [10, 20, 40, 60, 80, 100]
epochs = [10, 50, 100]
param_grid = dict(batch_size=batch_size, epochs=epochs)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X_train_scaled, y_train_categorical)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

In [ ]:
print(grid.best_params_)
print(grid.best_score_)

In [ ]:
#Re-run deep_model with hypertuned paramters for neural network model:
deep_model.compile(optimizer='adam',
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

deep_model.fit(
    X_test_scaled,
    y_test_categorical,
    epochs=10,
    shuffle=True,
    verbose=2
)

In [ ]:
print("RESULTS COMPARISSON:")
print("First trained/test deep_model: Accuracy= 0.914  Loss = 0.246")
print("Same deep_model/data with With tuned parameters: Accuracy = 0.988 Loss = 0.0598")

# Save the Model

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'GCA_final_with35.sav'
#joblib.dump(model1, filename)