<h1>ESTE ES EL BUENO! (AGREGALE 2018 EN OTRO NOTEBOOK CON _G)</h1>

In [1]:
import os
import pandas as pd

In [2]:
df5 = pd.read_csv("CONSOLIDADO_2019_G.csv", index_col=0)

In [3]:
df6 = pd.read_csv("DATOS_CLEAN.csv", index_col=0)

In [4]:
df6.head()

,codigo,fec_nac,sexo,edo_civ,depto,fec_ing,fec_baj,jorn,puesto,cp,label,antig
0,8071,1995-01-26,FEMENINO,SOLTERO,25,2019-07-31,NaN,1,0001,56386,1,99
4,6600,1973-02-08,FEMENINO,SOLTERO,80,2015-10-01,NaN,1,0002A,7460,1,1498
5,7685,1995-11-23,FEMENINO,SOLTERO,5,2018-06-08,NaN,1,0002A,56617,1,517
7,5933,1962-08-06,FEMENINO,SOLTERO,51,2014-09-01,NaN,1,0002A,7600,1,1893
8,7170,1978-05-09,FEMENINO,SOLTERO,57,2016-11-17,NaN,1,0002A,55055,1,1085

In [5]:
df5['antig'] = df5["codigo_x"].map(df6.set_index("codigo")["antig"].to_dict())

In [6]:
df5.head()

,sem_x,codigo_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,...,enf,ries,ISPT,ISPTA,IMSS,subs,label,tiempov,dist,antig
0,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,367.56,...,0.0,0.0,289.63,0.0,49.55,0.00,0,4.940,6.433333,39
1,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,0.00,...,0.0,0.0,60.93,0.0,24.12,0.00,0,11.188,24.283333,520
2,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,180.25,...,0.0,0.0,0.00,0.0,20.07,33.13,1,8.079,27.766667,1498
3,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,0.00,...,0.0,0.0,0.00,0.0,27.04,38.26,1,25.247,36.416667,517
4,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,103.00,...,0.0,0.0,0.00,0.0,23.71,34.96,0,7.521,16.816667,338

In [7]:
df5 = df5.set_index("codigo_x")

In [8]:
df5 = df5[["dias_pag","dias_lab","sueldo","comp","asist","transp","vales_x","te_dob",
          "te_trip","desc_Lab","fest_lab","dominic","perc_grav","obj","aguin","vac","prim_vac",
          "grat_esp","util","zapatos","otras","fonac","alim","infon","falt","enf","ries","label","tiempov","dist","antig"]]

In [9]:
df5.head()

,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,te_trip,desc_Lab,...,fonac,alim,infon,falt,enf,ries,label,tiempov,dist,antig
codigo_x,,,,,,,,,,,,,,,,,,,,,
7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,367.56,673.86,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,4.940,6.433333,39
7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,11.188,24.283333,520
6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,180.25,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,8.079,27.766667,1498
7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,25.247,36.416667,517
7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,103.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,7.521,16.816667,338

In [10]:
X = df5.drop("label", axis=1)
y = df5["label"]
print(X.shape, y.shape)

(7417, 30) (7417,)

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [12]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [13]:
classifier.fit(X_train, y_train)

C:\Users\dell\Anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [14]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7653721682847896
Testing Data Score: 0.7536388140161725

In [15]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [1 1 0 1 1 1 1 1 1 1]
First 10 Actual labels: [0, 0, 0, 0, 1, 1, 1, 0, 1, 1]

In [16]:
model1 = pd.DataFrame({"Prediction": predictions, "Actual": y_test})

In [17]:
model1.head()

          Prediction  Actual
codigo_x
7776               1       0
7392               1       0
8130               0       0
7655               1       0
7991               1       1

In [18]:
model1["res"] = model1["Actual"] - model1["Prediction"]

In [19]:
model1.head()

          Prediction  Actual  res
codigo_x
7776               1       0   -1
7392               1       0   -1
8130               0       0    0
7655               1       0   -1
7991               1       1    0

In [20]:
diff1 = model1.loc[model1["res"] == -1]

In [21]:
diff2 = model1.loc[model1["res"] == 1]

In [22]:
diff1.reset_index(inplace=True)
diff2.reset_index(inplace=True)

In [23]:
se_nos_van = diff1.groupby("codigo_x").count()

In [24]:
no_debieron_irse = diff2.groupby("codigo_x").count()

In [25]:
se_nos_van.count() #aquí predice que esta dado de baja cuando en realidad esta activo

Prediction    102
Actual        102
res           102
dtype: int64

In [26]:
no_debieron_irse.count() #aqui predice que esta activo cuando en realidad esta dado de baja

Prediction    58
Actual        58
res           58
dtype: int64