In [1]:
import os
import re
import pandas as pd

In [ ]:
data = []

for file in os.listdir("DEDUCCIONES_2019"):
    if file.endswith(".txt"): 
        with open(os.path.join("DEDUCCIONES_2019", file)) as f:
            week = file[16:18]
            for line in f.readlines():
                if len(line) == 241:
                    line = re.sub("\s+", "|", line.strip())
                    line = re.sub(",", "", line.strip()) #esto quita las comas de las cifras
                    line = f"{week}|{line}"
                    if not line:
                        continue
                    line_list = [s for s in line.split(';') if s]
                    if not line_list:
                        continue
                    data.append(line_list)
    else:
        continue

In [3]:
data = []

for file in os.listdir("DEDUCCIONES_2018"):
    if file.endswith(".txt"): 
        with open(os.path.join("DEDUCCIONES_2018", file)) as f:
            week = file[16:18]
            for line in f.readlines():
                if len(line) == 241:
                    line = re.sub("\s+", "|", line.strip())
                    line = re.sub(",", "", line.strip()) #esto quita las comas de las cifras
                    line = f"{week}|{line}"
                    if not line:
                        continue
                    line_list = [s for s in line.split(';') if s]
                    if not line_list:
                        continue
                    data.append(line_list)
    else:
        continue

In [4]:
data[1]

['01|7505|1.00|0.00|0.00|0.00|0.00|0.00|0.00|0.00|0.00|0.00|0.00|20.63|38.26|871.38|158.48|1029.86|21.63|1008.23']

In [5]:
len(data)

10452

In [6]:
df = pd.DataFrame(data)

In [7]:
df = df.drop(0)

In [8]:
df2 = df[0].str.split('|', expand=True)

In [9]:
df3 = df2[df2[1] != "Codigo"] #en este paso elimino las filas de encabezados, que miden lo mismo que las de datos

In [10]:
df3.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
1,01,7505,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,None,None,None,None,None,None,None,None,None,None
2,01,6600,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,None,None,None,None,None,None,None,None,None,None
3,01,7515,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,None,None,None,None,None,None,None,None,None,None
4,01,5933,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,None,None,None,None,None,None,None,None,None,None
5,01,7170,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,None,None,None,None,None,None,None,None,None,None

In [11]:
df4 = df3.iloc[:,0:20] #columnas del 15 al 20 son de totales

In [12]:
len(df4[0])

10192

In [13]:
df4 = df4[df4[2] != "GLO"] #este paso quita las filas de totales

In [14]:
len(df4[0]) #esto coincide con percepciones ya quitando totales

10140

In [15]:
df4.count()

0     10140
1     10140
2     10140
3     10140
4     10140
5     10140
6     10140
7     10140
8     10140
9     10140
10    10140
11    10140
12    10140
13    10140
14    10140
15    10140
16    10140
17    10140
18    10140
19    10140
dtype: int64

In [16]:
for col in  df4.columns:
    df4[col] = pd.to_numeric(df4[col], errors='coerce')

In [17]:
list_of_columns = ["sem","codigo","vales","zapatos","otras","fonac","alim","infon","falt","enf","ries",
                  "ISPT","ISPTA","IMSS","subs","t_per_g","t_per_e","t_per","t_ded","neto"]

In [18]:
df4.columns = list_of_columns

In [19]:
df4.head()

,sem,codigo,vales,zapatos,otras,fonac,alim,infon,falt,enf,ries,ISPT,ISPTA,IMSS,subs,t_per_g,t_per_e,t_per,t_ded,neto
1,1,7505,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.63,38.26,871.38,158.48,1029.86,21.63,1008.23
2,1,6600,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,21.60,38.26,871.38,158.48,1029.86,22.60,1007.26
3,1,7515,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.53,38.26,871.38,158.48,1029.86,21.53,1008.33
4,1,5933,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.45,38.26,871.38,158.48,1029.86,21.45,1008.41
5,1,7170,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.74,0.0,24.38,0.00,1371.38,120.22,1491.60,50.12,1441.48

In [20]:
df4.count()

sem        10140
codigo     10140
vales      10140
zapatos    10140
otras      10140
fonac      10140
alim       10140
infon      10140
falt       10140
enf        10140
ries       10140
ISPT       10140
ISPTA      10140
IMSS       10140
subs       10140
t_per_g    10140
t_per_e    10140
t_per      10140
t_ded      10140
neto       10140
dtype: int64

In [21]:
df4.dtypes

sem          int64
codigo       int64
vales      float64
zapatos    float64
otras      float64
fonac      float64
alim       float64
infon      float64
falt       float64
enf        float64
ries       float64
ISPT       float64
ISPTA      float64
IMSS       float64
subs       float64
t_per_g    float64
t_per_e    float64
t_per      float64
t_ded      float64
neto       float64
dtype: object

In [22]:
df4.isna().values.any()

False

In [23]:
df4.to_csv("DEDUCCIONES_CLEAN.csv")