In [2]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [3]:
# Dependencies
import numpy as np
import pandas as pd

In [4]:
import tensorflow

In [6]:
df = pd.read_csv('../Resources/CONSOLIDADO.csv', index_col=0)
df.head()

,sem_x,codigo_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,...,alim,infon,falt,enf,ries,ISPT,ISPTA,IMSS,subs,label
0,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,367.56,...,0.0,0.0,0.0,0.0,0.0,289.63,0.0,49.55,0.00,0
1,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,0.00,...,0.0,0.0,0.0,0.0,0.0,60.93,0.0,24.12,0.00,0
2,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,180.25,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.07,33.13,1
3,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,27.04,38.26,1
4,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,103.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23.71,34.96,0

In [8]:
def labeling(row):
    sigue = "sigue"
    fue = "fue"
    if row == 0:
        return sigue
    else:
        return fue

In [9]:
df["label"] = df["label"].apply(lambda row: labeling(row))

In [10]:
df.head()

,sem_x,codigo_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,te_dob,...,alim,infon,falt,enf,ries,ISPT,ISPTA,IMSS,subs,label
0,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,367.56,...,0.0,0.0,0.0,0.0,0.0,289.63,0.0,49.55,0.00,sigue
1,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,0.00,...,0.0,0.0,0.0,0.0,0.0,60.93,0.0,24.12,0.00,sigue
2,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,180.25,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.07,33.13,fue
3,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,0.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,27.04,38.26,fue
4,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,103.00,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23.71,34.96,sigue

In [11]:
df["label"].value_counts()

fue      5552
sigue    2661
Name: label, dtype: int64

In [12]:
df.isna().values.any()

False

## Data Pre-Processing

In [14]:
X = df.drop("label", axis=1)
y = df["label"]
print(X.shape, y.shape)

(8213, 37) (8213,)

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [16]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)

In [17]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\dell\Anaconda3\envs\PythonData\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [18]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [19]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

# Create a Deep Learning Model

In [20]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [21]:
len(X_train_scaled[0])

37

In [22]:
len(X_test_scaled[0])

37

In [31]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=37))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [32]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [33]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 100)               3800
_________________________________________________________________
dense_7 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_8 (Dense)              (None, 2)                 202
=================================================================
Total params: 14,102
Trainable params: 14,102
Non-trainable params: 0
_________________________________________________________________

In [34]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Train on 6159 samples
Epoch 1/100
6159/6159 - 1s - loss: 0.5014 - accuracy: 0.7388
Epoch 2/100
6159/6159 - 0s - loss: 0.4605 - accuracy: 0.7701
Epoch 3/100
6159/6159 - 0s - loss: 0.4535 - accuracy: 0.7748
Epoch 4/100
6159/6159 - 0s - loss: 0.4409 - accuracy: 0.7829
Epoch 5/100
6159/6159 - 0s - loss: 0.4413 - accuracy: 0.7795
Epoch 6/100
6159/6159 - 0s - loss: 0.4329 - accuracy: 0.7914
Epoch 7/100
6159/6159 - 0s - loss: 0.4301 - accuracy: 0.7897
Epoch 8/100
6159/6159 - 0s - loss: 0.4227 - accuracy: 0.7944
Epoch 9/100
6159/6159 - 0s - loss: 0.4227 - accuracy: 0.7948
Epoch 10/100
6159/6159 - 0s - loss: 0.4233 - accuracy: 0.7906
Epoch 11/100
6159/6159 - 0s - loss: 0.4183 - accuracy: 0.7979
Epoch 12/100
6159/6159 - 0s - loss: 0.4129 - accuracy: 0.7954
Epoch 13/100
6159/6159 - 0s - loss: 0.4080 - accuracy: 0.7974
Epoch 14/100
6159/6159 - 0s - loss: 0.4067 - accuracy: 0.8009
Epoch 15/100
6159/6159 - 0s - loss: 0.4026 - accuracy: 0.8003
Epoch 16/100
6159/6159 - 0s - loss: 0.4017 - accuracy: 0.7979
Epoch 17/100
6159/6159 - 0s - loss: 0.3973 - accuracy: 0.8050
Epoch 18/100
6159/6159 - 0s - loss: 0.3947 - accuracy: 0.8005
Epoch 19/100
6159/6159 - 0s - loss: 0.3913 - accuracy: 0.8052
Epoch 20/100
6159/6159 - 0s - loss: 0.3871 - accuracy: 0.8092
Epoch 21/100
6159/6159 - 0s - loss: 0.3861 - accuracy: 0.8063
Epoch 22/100
6159/6159 - 0s - loss: 0.3864 - accuracy: 0.8091
Epoch 23/100
6159/6159 - 0s - loss: 0.3837 - accuracy: 0.8069
Epoch 24/100
6159/6159 - 0s - loss: 0.3835 - accuracy: 0.8089
Epoch 25/100
6159/6159 - 0s - loss: 0.3802 - accuracy: 0.8078
Epoch 26/100
6159/6159 - 0s - loss: 0.3771 - accuracy: 0.8095
Epoch 27/100
6159/6159 - 0s - loss: 0.3759 - accuracy: 0.8147
Epoch 28/100
6159/6159 - 0s - loss: 0.3756 - accuracy: 0.8115
Epoch 29/100
6159/6159 - 0s - loss: 0.3726 - accuracy: 0.8147
Epoch 30/100
6159/6159 - 0s - loss: 0.3691 - accuracy: 0.8164
Epoch 31/100
6159/6159 - 0s - loss: 0.3689 - accuracy: 0.8204
Epoch 32/100
6159/6159 - 0s - loss: 0.3699 - accuracy: 0.8193
Epoch 33/100
6159/6159 - 0s - loss: 0.3640 - accuracy: 0.8190
Epoch 34/100
6159/6159 - 0s - loss: 0.3629 - accuracy: 0.8191
Epoch 35/100
6159/6159 - 0s - loss: 0.3644 - accuracy: 0.8220
Epoch 36/100
6159/6159 - 0s - loss: 0.3589 - accuracy: 0.8227
Epoch 37/100
6159/6159 - 0s - loss: 0.3597 - accuracy: 0.8216
Epoch 38/100
6159/6159 - 0s - loss: 0.3585 - accuracy: 0.8211
Epoch 39/100
6159/6159 - 0s - loss: 0.3556 - accuracy: 0.8199
Epoch 40/100
6159/6159 - 0s - loss: 0.3532 - accuracy: 0.8255
Epoch 41/100
6159/6159 - 0s - loss: 0.3537 - accuracy: 0.8233
Epoch 42/100
6159/6159 - 0s - loss: 0.3532 - accuracy: 0.8229
Epoch 43/100
6159/6159 - 0s - loss: 0.3567 - accuracy: 0.8240
Epoch 44/100
6159/6159 - 0s - loss: 0.3515 - accuracy: 0.8285
Epoch 45/100
6159/6159 - 0s - loss: 0.3449 - accuracy: 0.8300
Epoch 46/100
6159/6159 - 0s - loss: 0.3470 - accuracy: 0.8268
Epoch 47/100
6159/6159 - 0s - loss: 0.3454 - accuracy: 0.8297
Epoch 48/100
6159/6159 - 0s - loss: 0.3446 - accuracy: 0.8276
Epoch 49/100
6159/6159 - 0s - loss: 0.3422 - accuracy: 0.8290
Epoch 50/100
6159/6159 - 0s - loss: 0.3401 - accuracy: 0.8311
Epoch 51/100
6159/6159 - 0s - loss: 0.3397 - accuracy: 0.8320
Epoch 52/100
6159/6159 - 0s - loss: 0.3371 - accuracy: 0.8321
Epoch 53/100
6159/6159 - 0s - loss: 0.3379 - accuracy: 0.8362
Epoch 54/100
6159/6159 - 0s - loss: 0.3348 - accuracy: 0.8354
Epoch 55/100
6159/6159 - 0s - loss: 0.3378 - accuracy: 0.8302
Epoch 56/100
6159/6159 - 0s - loss: 0.3315 - accuracy: 0.8346
Epoch 57/100
6159/6159 - 0s - loss: 0.3310 - accuracy: 0.8371
Epoch 58/100
6159/6159 - 0s - loss: 0.3293 - accuracy: 0.8350
Epoch 59/100
6159/6159 - 0s - loss: 0.3311 - accuracy: 0.8350
Epoch 60/100
6159/6159 - 0s - loss: 0.3304 - accuracy: 0.8333
Epoch 61/100
6159/6159 - 0s - loss: 0.3273 - accuracy: 0.8324
Epoch 62/100
6159/6159 - 0s - loss: 0.3263 - accuracy: 0.8362
Epoch 63/100
6159/6159 - 0s - loss: 0.3272 - accuracy: 0.8355
Epoch 64/100
6159/6159 - 0s - loss: 0.3240 - accuracy: 0.8376
Epoch 65/100
6159/6159 - 0s - loss: 0.3217 - accuracy: 0.8407
Epoch 66/100
6159/6159 - 0s - loss: 0.3197 - accuracy: 0.8404
Epoch 67/100
6159/6159 - 0s - loss: 0.3283 - accuracy: 0.8363
Epoch 68/100
6159/6159 - 0s - loss: 0.3207 - accuracy: 0.8404
Epoch 69/100
6159/6159 - 0s - loss: 0.3196 - accuracy: 0.8373
Epoch 70/100
6159/6159 - 0s - loss: 0.3167 - accuracy: 0.8440
Epoch 71/100
6159/6159 - 0s - loss: 0.3156 - accuracy: 0.8407
Epoch 72/100
6159/6159 - 0s - loss: 0.3145 - accuracy: 0.8446
Epoch 73/100
6159/6159 - 0s - loss: 0.3131 - accuracy: 0.8454
Epoch 74/100
6159/6159 - 0s - loss: 0.3129 - accuracy: 0.8423
Epoch 75/100
6159/6159 - 0s - loss: 0.3165 - accuracy: 0.8454
Epoch 76/100
6159/6159 - 0s - loss: 0.3098 - accuracy: 0.8506
Epoch 77/100
6159/6159 - 0s - loss: 0.3128 - accuracy: 0.8451
Epoch 78/100
6159/6159 - 0s - loss: 0.3091 - accuracy: 0.8501
Epoch 79/100
6159/6159 - 0s - loss: 0.3108 - accuracy: 0.8440
Epoch 80/100
6159/6159 - 0s - loss: 0.3052 - accuracy: 0.8480
Epoch 81/100
6159/6159 - 0s - loss: 0.3040 - accuracy: 0.8488
Epoch 82/100
6159/6159 - 0s - loss: 0.3066 - accuracy: 0.8469
Epoch 83/100
6159/6159 - 0s - loss: 0.3088 - accuracy: 0.8492
Epoch 84/100
6159/6159 - 0s - loss: 0.3038 - accuracy: 0.8497
Epoch 85/100
6159/6159 - 0s - loss: 0.3021 - accuracy: 0.8526
Epoch 86/100
6159/6159 - 0s - loss: 0.3014 - accuracy: 0.8516
Epoch 87/100
6159/6159 - 0s - loss: 0.3017 - accuracy: 0.8542
Epoch 88/100
6159/6159 - 0s - loss: 0.3002 - accuracy: 0.8514
Epoch 89/100
6159/6159 - 0s - loss: 0.3002 - accuracy: 0.8511
Epoch 90/100
6159/6159 - 0s - loss: 0.2976 - accuracy: 0.8542
Epoch 91/100
6159/6159 - 0s - loss: 0.2974 - accuracy: 0.8539
Epoch 92/100
6159/6159 - 0s - loss: 0.2987 - accuracy: 0.8521
Epoch 93/100
6159/6159 - 0s - loss: 0.2972 - accuracy: 0.8535
Epoch 94/100
6159/6159 - 0s - loss: 0.2938 - accuracy: 0.8571
Epoch 95/100
6159/6159 - 0s - loss: 0.2930 - accuracy: 0.8550
Epoch 96/100
6159/6159 - 0s - loss: 0.2898 - accuracy: 0.8581
Epoch 97/100
6159/6159 - 0s - loss: 0.2873 - accuracy: 0.8570
Epoch 98/100
6159/6159 - 0s - loss: 0.2924 - accuracy: 0.8578
Epoch 99/100
6159/6159 - 0s - loss: 0.2894 - accuracy: 0.8552
Epoch 100/100
6159/6159 - 0s - loss: 0.2860 - accuracy: 0.8583

## Quantify our Trained Model

In [35]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

2054/1 - 0s - loss: 0.3138 - accuracy: 0.8281
Normal Neural Network - Loss: 0.4739437467747793, Accuracy: 0.8281401991844177

## Make Predictions

In [38]:
encoded_predictions = model.predict_classes(X_test_scaled)
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [40]:
results = pd.DataFrame({
"prediction": prediction_labels,
"actual": y_test
})
results.head()

     prediction actual
4985        fue    fue
522         fue    fue
7209        fue    fue
4396        fue    fue
5909        fue    fue

In [43]:
results["diffs"] = results["prediction"] == results["actual"]

In [44]:
results.head()

     prediction actual  diffs
4985        fue    fue   True
522         fue    fue   True
7209        fue    fue   True
4396        fue    fue   True
5909        fue    fue   True

In [46]:
results["diffs"].value_counts()

True    2054
Name: diffs, dtype: int64

In [45]:
results.loc[results["diffs"] == False]

Empty DataFrame
Columns: [prediction, actual, diffs]
Index: []