In [1]:
import os
import pandas as pd

In [2]:
df1 = pd.read_csv("PERCEPCIONES_CLEAN.csv", index_col=0)

In [3]:
df1["PK"] = df1["año"].map(str) + df1["sem"].map(str) + df1["codigo"].map(str)

In [4]:
df1.head()

,año,sem,codigo,dias_pag,dias_lab,sueldo,comp,asist,transp,vales,...,fest_lab,dominic,perc_grav,obj,aguin,vac,prim_vac,grat_esp,util,PK
0,2019,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,...,326.72,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,201917840
1,2019,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,...,206.00,0.0,500.0,0.0,0.0,0.0,0.00,0.0,0.0,201917505
2,2019,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,201916600
3,2019,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.00,0.0,0.0,0.0,0.0,0.0,26.83,0.0,0.0,201917685
4,2019,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,201917331

In [5]:
df2 = pd.read_csv("DEDUCCIONES_CLEAN.csv", index_col=0)

In [6]:
df2["PK"] = df2["año"].map(str) + df2["sem"].map(str) + df2["codigo"].map(str)

In [7]:
df2.head()

,año,sem,codigo,vales,zapatos,otras,fonac,alim,infon,falt,...,ISPT,ISPTA,IMSS,subs,t_per_g,t_per_e,t_per,t_ded,neto,PK
1,2019,1,7840,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,289.63,0.0,49.55,0.00,2747.43,604.16,3351.59,340.18,3011.41,201917840
2,2019,1,7505,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,60.93,0.0,24.12,0.00,1617.04,246.04,1863.08,86.05,1777.03,201917505
3,2019,1,6600,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,20.07,33.13,951.51,243.47,1194.98,21.07,1173.91,201916600
4,2019,1,7685,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,27.04,38.26,871.38,185.31,1056.69,28.04,1028.65,201917685
5,2019,1,7331,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,23.71,34.96,922.88,206.68,1129.56,24.71,1104.85,201917331

In [8]:
df3 = pd.read_csv("DATOS_CLEAN.csv", index_col=0)

In [9]:
df3.head()

,codigo,fec_nac,sexo,edo_civ,depto,fec_ing,fec_baj,jorn,puesto,cp,label
1,7840,1985-12-30,FEMENINO,SOLTERO,87,2018-12-27,2019-02-04,1,0185,50290,0
2,7879,1993-12-28,MASCULINO,SOLTERO,72,2019-02-11,2019-07-22,1,0001,9630,0
3,7505,1989-09-30,MASCULINO,SOLTERO,82,2017-09-19,2019-02-21,1,0003A,54948,0
6,7331,1977-04-02,FEMENINO,CASADO,45,2018-09-04,2019-08-08,1,0001,8100,0
9,7774,1995-12-07,FEMENINO,CASADO,87,2018-09-27,2019-01-14,1,0001,50200,0

In [10]:
df1.count()

año          18341
sem          18341
codigo       18341
dias_pag     18341
dias_lab     18341
sueldo       18341
comp         18341
asist        18341
transp       18341
vales        18341
te_dob       18341
te_trip      18341
desc_Lab     18341
fest_lab     18341
dominic      18341
perc_grav    18341
obj          18341
aguin        18341
vac          18341
prim_vac     18341
grat_esp     18341
util         18341
PK           18341
dtype: int64

In [11]:
df2.count()

año        18341
sem        18341
codigo     18341
vales      18341
zapatos    18341
otras      18341
fonac      18341
alim       18341
infon      18341
falt       18341
enf        18341
ries       18341
ISPT       18341
ISPTA      18341
IMSS       18341
subs       18341
t_per_g    18341
t_per_e    18341
t_per      18341
t_ded      18341
neto       18341
PK         18341
dtype: int64

In [12]:
df4 = df1.merge(df2, on="PK")

In [13]:
df4.head()

,año_x,sem_x,codigo_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,...,ries,ISPT,ISPTA,IMSS,subs,t_per_g,t_per_e,t_per,t_ded,neto
0,2019,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,...,0.0,289.63,0.0,49.55,0.00,2747.43,604.16,3351.59,340.18,3011.41
1,2019,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,...,0.0,60.93,0.0,24.12,0.00,1617.04,246.04,1863.08,86.05,1777.03
2,2019,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,...,0.0,0.00,0.0,20.07,33.13,951.51,243.47,1194.98,21.07,1173.91
3,2019,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.0,0.00,0.0,27.04,38.26,871.38,185.31,1056.69,28.04,1028.65
4,2019,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.0,0.00,0.0,23.71,34.96,922.88,206.68,1129.56,24.71,1104.85

In [ ]:
df4.count() #a qué se debe el incremento de los datos? en los test (abajo) no ocurre eso

In [14]:
df5 = df4

In [15]:
df5.head()

,año_x,sem_x,codigo_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,...,ries,ISPT,ISPTA,IMSS,subs,t_per_g,t_per_e,t_per,t_ded,neto
0,2019,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,...,0.0,289.63,0.0,49.55,0.00,2747.43,604.16,3351.59,340.18,3011.41
1,2019,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,...,0.0,60.93,0.0,24.12,0.00,1617.04,246.04,1863.08,86.05,1777.03
2,2019,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,...,0.0,0.00,0.0,20.07,33.13,951.51,243.47,1194.98,21.07,1173.91
3,2019,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.0,0.00,0.0,27.04,38.26,871.38,185.31,1056.69,28.04,1028.65
4,2019,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.0,0.00,0.0,23.71,34.96,922.88,206.68,1129.56,24.71,1104.85

In [16]:
df5['label'] = df5["codigo_x"].map(df3.set_index("codigo")["label"].to_dict())

In [17]:
df5.isna().values.any()

False

In [18]:
df5["label"] = df5["label"].astype(int)

In [19]:
df5.head()

,año_x,sem_x,codigo_x,dias_pag,dias_lab,sueldo,comp,asist,transp,vales_x,...,ISPT,ISPTA,IMSS,subs,t_per_g,t_per_e,t_per,t_ded,neto,label
0,2019,1,7840,7.0,5.0,1143.52,462.91,60.0,60.0,257.02,...,289.63,0.0,49.55,0.00,2747.43,604.16,3351.59,340.18,3011.41,1
1,2019,1,7505,7.0,5.0,721.00,173.04,60.0,60.0,143.04,...,60.93,0.0,24.12,0.00,1617.04,246.04,1863.08,86.05,1777.03,1
2,2019,1,6600,7.0,5.0,721.00,30.38,60.0,50.0,120.22,...,0.00,0.0,20.07,33.13,951.51,243.47,1194.98,21.07,1173.91,1
3,2019,1,7685,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.00,0.0,27.04,38.26,871.38,185.31,1056.69,28.04,1028.65,1
4,2019,1,7331,7.0,5.0,721.00,30.38,60.0,60.0,120.22,...,0.00,0.0,23.71,34.96,922.88,206.68,1129.56,24.71,1104.85,1

In [20]:
df5.to_csv("CONSOLIDADO_DESDE_2018.csv")