In [1]:
import os
import re
import pandas as pd
import datetime as dt

In [2]:
data = []

with open("DATOS_EMPLEADOS_2019.txt", 'r') as f:
    for line in f.readlines():
        if len(line) == 114:
            line = re.sub("\s+", "|", line.strip())
            line = re.sub("ENE", "01", line.strip())
            line = re.sub("FEB", "02", line.strip())
            line = re.sub("MAR", "03", line.strip())
            line = re.sub("ABR", "04", line.strip())
            line = re.sub("MAY", "05", line.strip())
            line = re.sub("JUN", "06", line.strip())
            line = re.sub("JUL", "07", line.strip())
            line = re.sub("AGO", "08", line.strip())
            line = re.sub("SEP", "09", line.strip())
            line = re.sub("OCT", "10", line.strip())
            line = re.sub("NOV", "11", line.strip())
            line = re.sub("DIC", "12", line.strip())
            line = f"{line}|07/11/2019"
            if not line:
                continue
            line_list = [s for s in line.split(';') if s]
            if not line_list:
                continue
            data.append(line_list)

In [3]:
with open("DATOS_EMPLEADOS_2018.txt", 'r') as f:
    for line in f.readlines():
        if len(line) == 114:
            line = re.sub("\s+", "|", line.strip())
            line = re.sub("ENE", "01", line.strip())
            line = re.sub("FEB", "02", line.strip())
            line = re.sub("MAR", "03", line.strip())
            line = re.sub("ABR", "04", line.strip())
            line = re.sub("MAY", "05", line.strip())
            line = re.sub("JUN", "06", line.strip())
            line = re.sub("JUL", "07", line.strip())
            line = re.sub("AGO", "08", line.strip())
            line = re.sub("SEP", "09", line.strip())
            line = re.sub("OCT", "10", line.strip())
            line = re.sub("NOV", "11", line.strip())
            line = re.sub("DIC", "12", line.strip())
            line = f"{line}|07/11/2019"
            if not line:
                continue
            line_list = [s for s in line.split(';') if s]
            if not line_list:
                continue
            data.append(line_list)

In [4]:
data[0]

['8071|26/01/1995|FEMENINO|SOLTERO|25|31/07/2019|0/|0/0000|1|0001|56386|07/11/2019']

In [5]:
len(data)

1025

In [6]:
df = pd.DataFrame(data)

In [7]:
df2 = df[0].str.split('|', expand=True)

In [8]:
df3 = df2[df2[6] == "0/"]

In [9]:
df4 = df2[df2[6] != "0/"]

In [10]:
del df3[6]

In [11]:
del df4[11]

In [12]:
list_of_columns = ["codigo","fec_nac","sexo","edo_civ","depto","fec_ing","fec_baj","jorn","puesto","cp","today"]

In [13]:
df3.columns = list_of_columns
df4.columns = list_of_columns

In [14]:
df5 = df4.append(df3)

In [15]:
def label_status(row):
    inactive = 1
    active = 0
    if row == "0/0000":
        return inactive
    else:
        return active

In [16]:
df5["label"] = df5["fec_baj"].apply(lambda row: label_status(row))

In [17]:
df5["fec_nac"] = pd.to_datetime(df5["fec_nac"], format="%d/%m/%Y", errors="coerce")
df5["fec_ing"] = pd.to_datetime(df5["fec_ing"], format="%d/%m/%Y", errors="coerce")
df5["fec_baj"] = pd.to_datetime(df5["fec_baj"], format="%d/%m/%Y", errors="coerce")
df5["today"] = pd.to_datetime(df5["today"], format="%d/%m/%Y", errors="coerce")

In [18]:
df5_activos = df5.loc[df5["fec_baj"].isnull()]

In [19]:
df5_cesados = df5.loc[df5["fec_baj"].notnull()]

In [20]:
df5_activos["antig"] = df5_activos["today"] - df5_activos["fec_ing"]

C:\Users\dell\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
df5_cesados["antig"] = df5_cesados["fec_baj"] - df5_cesados["fec_ing"]

C:\Users\dell\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
df6 = df5_activos.append(df5_cesados)

In [23]:
del df6["today"]

In [24]:
df6["antig"] = df6["antig"].dt.days

In [25]:
df6.head()

,codigo,fec_nac,sexo,edo_civ,depto,fec_ing,fec_baj,jorn,puesto,cp,label,antig
0,8071,1995-01-26,FEMENINO,SOLTERO,25,2019-07-31,NaT,1,0001,56386,1,99
4,6600,1973-02-08,FEMENINO,SOLTERO,80,2015-10-01,NaT,1,0002A,07460,1,1498
5,7685,1995-11-23,FEMENINO,SOLTERO,05,2018-06-08,NaT,1,0002A,56617,1,517
7,5933,1962-08-06,FEMENINO,SOLTERO,51,2014-09-01,NaT,1,0002A,07600,1,1893
8,7170,1978-05-09,FEMENINO,SOLTERO,57,2016-11-17,NaT,1,0002A,55055,1,1085

In [26]:
df6.dtypes

codigo             object
fec_nac    datetime64[ns]
sexo               object
edo_civ            object
depto              object
fec_ing    datetime64[ns]
fec_baj    datetime64[ns]
jorn               object
puesto             object
cp                 object
label               int64
antig               int64
dtype: object

In [27]:
df6.to_csv("DATOS_CLEAN.csv")

In [28]:
df6.count()

codigo     1025
fec_nac    1025
sexo       1025
edo_civ    1025
depto      1025
fec_ing    1025
fec_baj     637
jorn       1025
puesto     1025
cp         1025
label      1025
antig      1025
dtype: int64