In [1]:
import os
import re
import pandas as pd

In [2]:
data = []

for file in os.listdir("DEDUCCIONES_2019"):
    if file.endswith(".txt"): 
        with open(os.path.join("DEDUCCIONES_2019", file)) as f:
            week = file[16:18]
            for line in f.readlines():
                if len(line) == 241:
                    line = re.sub("\s+", "|", line.strip())
                    line = re.sub(",", "", line.strip()) #esto quita las comas de las cifras
                    line = f"{week}|{line}"
                    if not line:
                        continue
                    line_list = [s for s in line.split(';') if s]
                    if not line_list:
                        continue
                    data.append(line_list)
    else:
        continue

In [3]:
data[-1]

['43|***|GLO|177.00|224.00|910.00|362.10|0.00|5386.89|5062.86|288.40|560.76|7769.34|0.00|5496.25|3740.32|231649.25|272532.46|26237.60|246294.86']

In [4]:
len(data)

8459

In [5]:
df = pd.DataFrame(data)

In [6]:
df = df.drop(0)

In [7]:
df2 = df[0].str.split('|', expand=True)

In [8]:
df3 = df2[df2[1] != "Codigo"] #en este paso elimino las filas de encabezados, que miden lo mismo que las de datos

In [9]:
df4 = df3.iloc[:,0:20]

In [10]:
len(df4[0])

8244

In [11]:
df4 = df4[df4[2] != "GLO"] #este paso quita las filas de totales

In [12]:
len(df4[0]) #esto coincide con percepciones ya quitando totales

8201

In [13]:
for col in  df4.columns:
    df4[col] = pd.to_numeric(df4[col], errors='coerce')

In [14]:
df4.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1,1,7840,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,289.63,0.0,49.55,0.00,2747.43,604.16,3351.59,340.18,3011.41
2,1,7505,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.93,0.0,24.12,0.00,1617.04,246.04,1863.08,86.05,1777.03
3,1,6600,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,20.07,33.13,951.51,243.47,1194.98,21.07,1173.91
4,1,7685,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,27.04,38.26,871.38,185.31,1056.69,28.04,1028.65
5,1,7331,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23.71,34.96,922.88,206.68,1129.56,24.71,1104.85

In [15]:
df4.count()

0     8201
1     8201
2     8201
3     8201
4     8201
5     8201
6     8201
7     8201
8     8201
9     8201
10    8201
11    8201
12    8201
13    8201
14    8201
15    8201
16    8201
17    8201
18    8201
19    8201
dtype: int64

In [16]:
df4.dtypes

0       int64
1       int64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
dtype: object